/**
 * Skin: Lifestyle
 */
:root {
  --base-aa: initial;
  --black-color: #454545;
  --topbar-height: 48px;
  --nav-text: 11px;
  --nav-items-space: 21px;
  --nav-drop-color: #535353;
  --share-icons-size: 13px;
  --section-head-size: 12px;
  --section-head-ls: 0.04em;
  --post-title-size: 25px;
  --grid-post-title: 23px;
  --list-post-title: 23px;
  --list-post-title-b: 24px;
  --overlay-post-title: 22px;
  --carousel-post-title: 17px;
  --feat-grid-title-l: 31px;
  --feat-grid-title-m: 24px;
  --single-content-size: var(--text-size);
  --post-content-lh: 2;
  --p-media-margin: 33px;
  --w-posts-title-large: 16px;
  --blockquote-font: "Merriweather", Georgia, serif;
}

.top-bar.dark {
  --topbar-social-color: rgba(255, 255, 255, 0.75);
}

.navigation.inline {
  --nav-text-ls: 0.035em;
}

.search-action .search-submit {
  font-size: 13px;
}

.main-head.alt .social-icons {
  margin-top: 0;
}

.main-head.alt .social-icons li {
  font-size: 12px;
}

.main-head.compact {
  --topbar-height: 36px;
}

.main-head.compact .posts-ticker {
  letter-spacing: 0.075em;
}

.posts-ticker {
  font-size: 11px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.posts-ticker a {
  letter-spacing: inherit;
}

.post-meta {
  font-size: 10px;
}

.post-meta .meta-below {
  margin-bottom: 0;
}

.post-meta .post-cat > a {
  letter-spacing: 0.09em;
}

.post-meta .meta-sep {
  padding: 0;
}

.post-meta .text-in {
  font-weight: inherit;
  text-transform: none;
  margin-right: 5px;
}

.post-meta-a .meta-item,
.post-meta-a .comments,
.post-meta-a time,
.post-meta-b .meta-item,
.post-meta-b .comments,
.post-meta-b time {
  font-weight: 500;
  letter-spacing: 0.075em;
}

.post-meta-a .post-title-alt {
  margin: 9px 0;
}

.post-meta-b .meta-sep {
  padding: 0 4px;
}

.read-more-btn {
  --rmore-btn-ls: 0.12em;
  font-weight: 400;
  color: #777;
}

.grid-post,
.large-post,
.list-post {
  --pm-h-below-mb: 25px;
}

.large-post,
.grid-post {
  --post-meta-mb: 22px;
}

.large-post .post-meta-center,
.grid-post .post-meta-center,
.the-post-header .post-meta-center {
  --pm-title-a-pad: 0;
}

.grid-post {
  --rmore-btn-pad: 11px 12px;
  --rmore-btn-fs: 10px;
}

.grid-post .post-meta-b {
  margin-top: 30px;
}

.grid-post .post-footer {
  margin-top: 38px;
}

.grid-post .post-meta-a {
  margin-top: 25px;
}

.list-post {
  --rmore-btn-ls: 0.1em;
}

.list-post .post-meta-a {
  --post-meta-mb: 14px;
}

.list-post .post-meta-a .post-title {
  margin: 11px 0;
}

.list-post .post-excerpt {
  line-height: 1.866;
}

.list-post-b .post-title {
  max-width: 80%;
  line-height: 1.25;
}

.list-post-b .post-meta-a .meta-sep {
  padding: 0 4px;
}

.list-post-b .post-meta-a time {
  letter-spacing: 0.1em;
}

.posts-carousel-a .post-meta-center {
  --pm-title-pad: 0;
}

.posts-carousel-b .post-title {
  font-size: 16px;
}

.subscribe-box .text {
  padding-left: 5px;
  font-size: 13px;
}

.carousel-slider .heading {
  font-weight: 500;
}

@media (min-width: 768px) {
  .bold-slider .heading {
    font-size: 44px;
  }
}

@media (min-width: 768px) {
  .large-slider .heading {
    font-size: 40px;
  }
}

@media (min-width: 768px) {
  .fashion-slider .post-title {
    font-size: 33px;
  }
}

@media (max-width: 767px) {
  .feat-grid .item-medium .post-title {
    font-size: calc(var(--feat-grid-title-m) * 0.8);
  }
}

.feat-grid-b .cat-labels {
  margin-bottom: 18px;
}

.feat-grid-b .cat-labels .category {
  display: inline-block;
  background: #fff;
  color: var(--black-800);
  letter-spacing: 0.1em;
}

.widget-posts .post-title {
  font-size: 14px;
  line-height: 1.6;
}

.widget-posts .posts.large .post-title {
  line-height: 1.52;
}

.widget-posts .posts.full .post-title-alt {
  font-size: 20px;
}

.widget .mc4wp-form .message,
.widget-subscribe .message {
  font-size: 13px;
}

.single-cover .overlay .category {
  line-height: 18px;
  letter-spacing: 0.11em;
}

.upper-footer .widget-about .about-text {
  font-size: 13px;
}

.mid-footer .spc-insta-link a {
  color: #535353;
}

.lower-footer {
  font-size: 12px;
  color: #b4b4b4;
}

.lower-footer .copyright a {
  color: #999;
}

.back-to-top {
  color: #b4b4b4;
}

@media (min-width: 941px) {
  .main-footer.bold .links .menu-item {
    margin-bottom: 14px;
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .main-footer.bold .lower-footer .social-link {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
}

@media (min-width: 768px) {
  .main-footer.bold .lower-footer .social-icons .tsi {
    font-size: 21px;
  }
}

.text,
.post-content,
.textwidget {
  -webkit-font-smoothing: initial;
}

:root {
  --body-font: Nunito Sans, system-ui, sans-serif;
  --base-aa: antialiased;
  --title-font: HK Grotesk, system-ui, sans-serif;
  --alt-font: HK Grotesk, system-ui, sans-serif;
  --text-h-font: var(--title-font);
  --text-size: 15px;
  --single-content-size: 17px;
  --post-content-size: 15px;
  --text-lh: 1.7;
  --post-content-lh: 1.71;
  --title-size-xs: 15px;
  --single-title-size: 27px;
  --large-post-title: 27px;
  --grid-post-title: 22px;
  --list-post-title: 22px;
  --list-post-title-b: 22px;
  --related-posts-title: 17px;
  --related-posts-2-title: 19px;
  --title-size-xs: 15px;
  --nav-text-ls: 0.05em;
  --nav-text: 13px;
  --nav-text-weight: 600;
  --nav-drop-color: #414141;
  --nav-drop-text: 12px;
  --nav-drop-ls: 0.09em;
  --blockquote-font: "IBM Plex Serif", Georgia, serif;
  --main-color: #e84d15;
  --main-color-rgb: 232, 77, 21;
  --text-color: #292929;
  --black-color: #292929;
  --tags-color: #454545;
  --share-icons-color: #161616;
}

/**
 * General components and global changes
 */
::selection {
  background: rgba(var(--main-color-rgb), 0.2);
}

::-moz-selection {
  background: rgba(var(--main-color-rgb), 0.2);
}

.read-more-basic, .large-post-b .read-more a {
  padding: 0;
  padding-bottom: 4px;
  border: 0;
  background: transparent;
  text-transform: none;
  font-family: var(--alt-font);
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 1.1;
  color: #000;
  border-bottom: 1px solid var(--main-color);
}

.read-more-basic:hover, .large-post-b .read-more a:hover {
  background: inherit;
  border-color: #000;
  color: inherit;
  opacity: 0.8;
}

input[type="submit"],
button, input[type="button"],
.button {
  font-family: var(--alt-font);
  font-size: 12px;
  letter-spacing: 0.05em;
}

input,
textarea,
select {
  color: #9c9c9c;
  font-size: 14px;
}

.modern-quote,
.wp-block-quote.is-style-large {
  color: #000;
}

.wp-block-pullquote {
  color: #000;
}

blockquote {
  font-size: 21px;
  font-weight: 500;
  font-style: normal;
}

h1 {
  font-size: 29px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 22px;
}

.section-head .title {
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #161616;
}

.post-meta {
  font-size: 12px;
  font-family: var(--alt-font);
  font-weight: 500;
}

.post-meta .post-cat > a {
  font-weight: 600;
  letter-spacing: 0.05em;
}

.post-meta time {
  color: #aaa;
}

.post-meta time,
.post-meta .comments,
.post-meta .meta-item {
  font-weight: inherit;
  letter-spacing: 0.05em;
}

.post-meta-a,
.post-meta-alt {
  margin-left: auto;
  margin-right: auto;
}

.post-meta-b .date-link,
.post-meta-b .comments {
  color: #505050;
}

.post-meta-b .post-title-alt {
  margin: 17px auto;
}

.post-meta-b .meta-sep {
  padding: 0 2px;
}

.post-title,
.post-title-alt {
  font-weight: 700;
  color: #000;
  line-height: 1.3;
}

.post-title a,
.post-title-alt a {
  color: inherit;
}

.post-title-alt {
  line-height: 1.285;
}

.post-meta-divider:after {
  width: 30px;
}

.post-meta-a .post-title-alt {
  margin: 16px 0;
}

.grid-post,
.large-post {
  --post-meta-mb: 16px;
  --pm-h-below-mb: 20px;
}

.large-post,
.the-post .the-post-meta {
  --pm-h-below-mb: 32px;
}

.main-pagination .next a,
.main-pagination .previous a {
  letter-spacing: 0.15em;
}

.main-pagination .load-button {
  font-family: var(--alt-font);
  min-width: initial;
  padding: 0 40px;
  border-color: var(--main-color);
  background: var(--main-color);
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 45px;
  letter-spacing: 0.075em;
}

.main-pagination .load-button:hover {
  opacity: 0.9;
}

.main-pagination .load-button .tsi:not(.tsi-spin) {
  display: none;
}

/**
 * Header and Nav
 */
.navigation {
  font-family: var(--alt-font);
}

.navigation .menu > li li a {
  font-weight: 500;
}

.navigation .mega-menu .recent-posts .post-title {
  margin-bottom: 9px;
  font-size: 15px;
  font-weight: 600;
}

.navigation.inline {
  --nav-text: 14px;
  --nav-text-weight: 700;
  --nav-drop-text: 15px;
}

.navigation.inline .menu > li li a {
  font-weight: 600;
}

.main-head.top-below {
  --nav-text: 14px;
  --nav-drop-text: 13px;
}

.main-head.top-below .menu > li > a {
  font-weight: 600;
}

.navigation.simple {
  --nav-text: 17px;
}

.top-bar.dark {
  --topbar-bc: var(--main-color);
  --topbar-dark-bg: var(--main-color);
  color: #fafafa;
}

.top-bar.dark .cart-action a,
.top-bar.dark .search-field,
.top-bar.dark .search-submit,
.top-bar.dark .social-icons a {
  color: inherit;
}

.top-bar.dark .posts-ticker a {
  color: #f1f1f1;
}

.top-bar.dark .posts-ticker .heading {
  font-weight: 700;
}

.search-action .search-field {
  width: 65px;
}

.main-head.compact {
  --topbar-height: 38px;
}

.main-head.compact .posts-ticker {
  text-transform: none;
  letter-spacing: 0;
}

.main-head.compact .posts-ticker .heading {
  padding: 0 12px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.075em;
  line-height: inherit;
}

.main-head.compact .posts-ticker a {
  font-family: var(--title-font);
  font-size: 13px;
  font-weight: 500;
}

.main-head.compact .dark .posts-ticker .heading {
  background: #fff;
  color: var(--main-color);
}

.main-head.compact .dark .posts-ticker a {
  color: #fff;
}

.mobile-menu li a {
  letter-spacing: 0.12em;
}

.the-wrap.head {
  margin-bottom: 32px;
  padding: 32px 0;
}

/**
 * Posts adjustments
 */
.posts-dynamic .grid-post {
  margin-bottom: 50px;
}

.large-post .post-meta-center,
.the-post-header .post-meta-center {
  --pm-title-a-pad: 5%;
}

.large-post .featured .image-link,
.large-post .featured .wp-post-image {
  margin-bottom: 30px;
}

.large-post .author {
  letter-spacing: 0;
}

.large-post-b .read-more a:hover {
  background: #000;
  color: #fff;
}

.large-post-b .read-more a:before {
  display: none;
}

.large-post-b .read-more a span {
  padding: 0;
  background: transparent;
}

.large-post-b .post-footer {
  letter-spacing: 0;
  padding-bottom: 2px;
  border-bottom: 1px solid #ebebeb;
}

.large-post-b .post-footer .author a {
  letter-spacing: 0.15em;
}

.large-post-b .post-footer .number {
  font-size: 13px;
  font-weight: 400;
}

.large-post-b .post-footer .social-icons a {
  font-size: 14px;
}

.large-post-footer {
  margin-top: 45px;
}

.large-post-footer .read-more {
  font-weight: 700;
  letter-spacing: 0.1em;
}

.posts-dynamic.list + .main-pagination .load-button {
  width: 100%;
  box-sizing: border-box;
}

.list-post .post-excerpt {
  line-height: 1.7;
}

.list-post .read-more-basic {
  margin-top: 11px;
}

.list-post-b .post-title {
  max-width: 100%;
  line-height: 1.3;
}

.grid-post .post-meta-b {
  margin-top: 26px;
}

.grid-post-b .meta-title,
.news-block .grid-post .meta-title {
  position: relative;
}

.grid-post-b .post-meta-b,
.news-block .grid-post .post-meta-b {
  margin-bottom: 20px;
}

.grid-post-b .post-meta-b .post-title-alt:after,
.news-block .grid-post .post-meta-b .post-title-alt:after {
  content: "";
  display: block;
  margin: 0 auto;
  margin-top: 14px;
  width: 36px;
  border-bottom: 1px solid var(--main-color);
}

.grid-post-b .post-meta-b .text-in,
.news-block .grid-post .post-meta-b .text-in {
  display: none;
}

.grid-post-b .post-meta-b .post-cat,
.news-block .grid-post .post-meta-b .post-cat {
  position: absolute;
  width: 100%;
  top: 0;
  transform: translateY(-100%) translateY(-25px);
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.grid-post-b .post-meta-b .category,
.news-block .grid-post .post-meta-b .category {
  padding: 0 9px;
  padding-top: 2px;
  background: #fff;
  line-height: 25px;
  font-size: 12px;
  pointer-events: auto;
}

.grid-post-b .post-meta-b .category:hover,
.news-block .grid-post .post-meta-b .category:hover {
  opacity: 1;
}

.small-post .post-title {
  font-family: var(--alt-font);
}

.news-block .content,
.news-block .post-content {
  text-align: center;
}

.news-block .grid-post .post-meta {
  text-align: center;
}

.news-block .posts-list {
  margin-bottom: -38px;
}

.news-block .small-post {
  margin-bottom: 38px;
}

.news-block .small-post .image-link {
  margin-bottom: 22px;
}

.news-block .small-post .post-title {
  font-size: 17px;
  font-weight: 700;
  line-height: 1.35;
}

.news-block .small-post .post-meta {
  display: none;
}

/**
 * Single Post 
 */
.single-cover .overlay .post-author {
  font-weight: 500;
  letter-spacing: 0.14em;
}

.single-creative .featured .post-meta {
  font-size: 13px;
}

.single-magazine .post-top .post-title {
  font-size: calc(0.82353vw + 24.11765px);
  -webkit-text-stroke: 0.3px #444;
}

.single-magazine .post-top .sub-title {
  margin-bottom: 19px;
}

.single-magazine .post-meta time {
  font-weight: 600;
}

.single-magazine .cat-label a {
  font-family: var(--alt-font);
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.05em;
  line-height: 23px;
}

.the-post-header .post-title,
.the-post-header .post-title-alt {
  font-size: 31px;
}

.post-share-b .service {
  font-weight: 600;
}

.post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6 {
  font-weight: 700;
}

.post-content .wp-block-image figcaption,
.post-content .wp-caption-text,
.post-content figcaption {
  font-size: 14px;
  font-style: normal;
  color: #888;
}

.entry-content {
  color: #3b3b3b;
}

.entry-content p {
  margin-bottom: 1.65em;
}

.tag-share .post-tags a {
  letter-spacing: 0.075em;
  font-weight: 700;
}

.author-box .author > a {
  font-family: var(--alt-font);
  font-size: 22px;
}

.related-posts .post-title {
  margin-bottom: 12px;
  font-weight: 600;
  letter-spacing: 0;
}

.related-posts .post-meta {
  font-size: 11px;
}

.related-posts.grid-2 .post-title {
  margin-bottom: 12px;
  font-weight: 700;
}

.post-nav .post-title {
  margin-bottom: 8px;
  font-family: inherit;
  line-height: 1.3;
  font-weight: 600;
}

.comments-list .comment-author {
  font-family: var(--alt-font);
  font-size: 17px;
}

.comments-list .comment-meta {
  font-family: var(--alt-font);
}

.comments-list .comment-time {
  color: #a0a0a0;
  font-size: 11px;
}

.comments-list .comment-text {
  margin-top: 9px;
}

.post-share-float .share-text {
  font-weight: 600;
  letter-spacing: 0.075em;
}

/**
 * Home & Archives changes
 */
.subscribe-box {
  margin-top: -15px;
  padding-left: 27px;
  padding-right: 32px;
}

.subscribe-box .text {
  font-size: 14px;
}

.subscribe-box .input {
  height: 3.15385em;
  width: 270px;
}

.subscribe-box .button {
  width: auto;
  padding: 15px 34px;
  background: #000;
}

.block-head-legacy {
  margin-top: 0;
  margin-bottom: 55px;
}

.block-head-legacy .title {
  background: transparent;
  font-size: 24px;
  font-weight: 800;
  letter-spacing: 0;
}

.block-head-legacy .title:before,
.block-head-legacy .title:after {
  display: none;
}

.block-head-legacy:before {
  display: none;
}

.block-head-legacy:after {
  top: 100%;
  left: 50%;
  margin-top: 12px;
  margin-left: -18px;
  width: 30px;
  height: 1px;
  background: #000;
}

.posts-carousel .post-link {
  margin-bottom: 18px;
}

.posts-carousel .post-title {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 20px;
}

.posts-carousel .post-meta {
  font-size: 10px;
}

.archive-head .title {
  font-weight: 700;
}

.slider-overlay .heading {
  font-weight: 700;
  color: #000;
  line-height: 1.2;
}

.slider-overlay .excerpt {
  font-size: 14px;
  letter-spacing: 0;
}

.classic-slider .heading {
  font-size: 24px;
  margin-bottom: 8px;
}

.common-slider .post-title,
.common-slider .heading {
  font-weight: 700;
  color: #000;
  line-height: 1.3;
}

.common-slider .category {
  font-family: var(--alt-font);
  font-weight: 700;
  letter-spacing: 0.05em;
}

.fashion-slider .post-title {
  margin-top: 18px;
  margin-bottom: 18px;
}

.carousel-slider .heading {
  font-size: 21px;
}

/**
 * Sidebar adjustments
 */
.block-head-widget {
  border-color: var(--main-color);
  font-weight: 700;
}

.sidebar .widget_mc4wp_form_widget,
.sidebar .widget-subscribe,
.widget-subscribe-boxed .widget_mc4wp_form_widget,
.widget-subscribe-boxed .widget-subscribe {
  padding: 30px;
}

.widget-cta .label {
  padding: 8px 18px;
  font-weight: 500;
  font-size: 11px;
  color: #161616;
  letter-spacing: 0.15em;
}

.blocks > .widget-cta {
  padding-bottom: 35px;
  border-bottom: 1px solid #efefef;
  margin-bottom: 70px;
}

.widget_mc4wp_form_widget .message,
.widget-subscribe .message {
  letter-spacing: 0;
  font-size: 14px;
}

.widget_mc4wp_form_widget p:last-of-type,
.widget-subscribe p:last-of-type {
  margin-top: -17px;
}

.widget-posts .post-title {
  font-family: var(--alt-font);
  font-size: 15px;
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: 0;
}

.widget-posts .posts.large .post-title {
  font-size: 17px;
  line-height: 1.36;
}

/* Footer Changes */
.upper-footer .widget-title {
  margin-bottom: 42px;
  color: #222;
  font-size: 16px;
  font-weight: 700;
}

.upper-footer .widget-posts .post-meta {
  color: #707070;
}

.upper-footer .widget-about .about-text {
  font-size: 14px;
}

.lower-footer .copyright {
  font-size: 14px;
}

.lower-footer .social-icons {
  letter-spacing: 0.12em;
}

.main-footer.stylish .copyright a {
  color: var(--main-color);
}

.main-footer.dark {
  background: #020202;
}

.main-footer.dark .widget-title {
  font-weight: 800;
}

.main-footer.dark .copyright {
  font-weight: 500;
}

.main-footer.dark .post-date {
  color: inherit;
}

.main-footer.bold .links .menu-item {
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.075em;
}

@media (max-width: 767px) {
  .large-post .post-meta-center,
  .the-post-header .post-meta-center {
    --pm-title-a-pad: 0;
  }
  .single-magazine .post-top .sub-title {
    font-size: 16px;
    line-height: 1.5;
  }
}

@media (max-width: 540px) {
  .post-title-alt {
    font-size: 24px;
  }
}

@media (min-width: 768px) {
  .main-head.compact .posts-ticker {
    display: inline-flex;
  }
  .subscribe-box .input {
    margin-right: 15px;
  }
  .fashion-slider .overlay {
    max-width: 645px;
  }
  .carousel-slider .heading {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 941px) {
  .grid-post-b .post-title-alt,
  .grid-post-b .post-excerpt,
  .news-block .grid-post .post-title-alt,
  .news-block .grid-post .post-excerpt {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  .grid-post-b .post-excerpt,
  .news-block .grid-post .post-excerpt {
    max-width: 85%;
  }
  .overlay-post .post-title {
    margin-top: 18px;
    margin-bottom: 18px;
    font-size: 30px;
  }
  .news-block .small-post .post-title {
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1201px) {
  .modern-quote,
  .wp-block-quote.is-style-large {
    font-size: 27px;
  }
  .single-cover .overlay .post-title {
    font-size: 36px;
  }
  .single-magazine .post-top .post-title {
    max-width: 80%;
    font-size: 37px;
  }
  .fashion-slider .post-title {
    font-size: 29px;
  }
}
