/**
 * Skin: Fashion
 */
:root {
  --base-aa: initial;
  --black-color: #454545;
  --topbar-height: 48px;
  --nav-text: 11px;
  --nav-items-space: 21px;
  --nav-drop-color: #535353;
  --share-icons-size: 13px;
  --section-head-size: 12px;
  --section-head-ls: 0.04em;
  --post-title-size: 25px;
  --grid-post-title: 23px;
  --list-post-title: 23px;
  --list-post-title-b: 24px;
  --overlay-post-title: 22px;
  --carousel-post-title: 17px;
  --feat-grid-title-l: 31px;
  --feat-grid-title-m: 24px;
  --single-content-size: var(--text-size);
  --post-content-lh: 2;
  --p-media-margin: 33px;
  --w-posts-title-large: 16px;
  --blockquote-font: "Merriweather", Georgia, serif;
}

.top-bar.dark {
  --topbar-social-color: rgba(255, 255, 255, 0.75);
}

.navigation.inline {
  --nav-text-ls: 0.035em;
}

.search-action .search-submit {
  font-size: 13px;
}

.main-head.alt .social-icons {
  margin-top: 0;
}

.main-head.alt .social-icons li {
  font-size: 12px;
}

.main-head.compact {
  --topbar-height: 36px;
}

.main-head.compact .posts-ticker {
  letter-spacing: 0.075em;
}

.posts-ticker {
  font-size: 11px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.posts-ticker a {
  letter-spacing: inherit;
}

.post-meta {
  font-size: 10px;
}

.post-meta .meta-below {
  margin-bottom: 0;
}

.post-meta .post-cat > a {
  letter-spacing: 0.09em;
}

.post-meta .meta-sep {
  padding: 0;
}

.post-meta .text-in {
  font-weight: inherit;
  text-transform: none;
  margin-right: 5px;
}

.post-meta-a .meta-item,
.post-meta-a .comments,
.post-meta-a time,
.post-meta-b .meta-item,
.post-meta-b .comments,
.post-meta-b time {
  font-weight: 500;
  letter-spacing: 0.075em;
}

.post-meta-a .post-title-alt {
  margin: 9px 0;
}

.post-meta-b .meta-sep {
  padding: 0 4px;
}

.read-more-btn {
  --rmore-btn-ls: 0.12em;
  font-weight: 400;
  color: #777;
}

.grid-post,
.large-post,
.list-post {
  --pm-h-below-mb: 25px;
}

.large-post,
.grid-post {
  --post-meta-mb: 22px;
}

.large-post .post-meta-center,
.grid-post .post-meta-center,
.the-post-header .post-meta-center {
  --pm-title-a-pad: 0;
}

.grid-post {
  --rmore-btn-pad: 11px 12px;
  --rmore-btn-fs: 10px;
}

.grid-post .post-meta-b {
  margin-top: 30px;
}

.grid-post .post-footer {
  margin-top: 38px;
}

.grid-post .post-meta-a {
  margin-top: 25px;
}

.list-post {
  --rmore-btn-ls: 0.1em;
}

.list-post .post-meta-a {
  --post-meta-mb: 14px;
}

.list-post .post-meta-a .post-title {
  margin: 11px 0;
}

.list-post .post-excerpt {
  line-height: 1.866;
}

.list-post-b .post-title {
  max-width: 80%;
  line-height: 1.25;
}

.list-post-b .post-meta-a .meta-sep {
  padding: 0 4px;
}

.list-post-b .post-meta-a time {
  letter-spacing: 0.1em;
}

.posts-carousel-a .post-meta-center {
  --pm-title-pad: 0;
}

.posts-carousel-b .post-title {
  font-size: 16px;
}

.subscribe-box .text {
  padding-left: 5px;
  font-size: 13px;
}

.carousel-slider .heading {
  font-weight: 500;
}

@media (min-width: 768px) {
  .bold-slider .heading {
    font-size: 44px;
  }
}

@media (min-width: 768px) {
  .large-slider .heading {
    font-size: 40px;
  }
}

@media (min-width: 768px) {
  .fashion-slider .post-title {
    font-size: 33px;
  }
}

@media (max-width: 767px) {
  .feat-grid .item-medium .post-title {
    font-size: calc(var(--feat-grid-title-m) * 0.8);
  }
}

.feat-grid-b .cat-labels {
  margin-bottom: 18px;
}

.feat-grid-b .cat-labels .category {
  display: inline-block;
  background: #fff;
  color: var(--black-800);
  letter-spacing: 0.1em;
}

.widget-posts .post-title {
  font-size: 14px;
  line-height: 1.6;
}

.widget-posts .posts.large .post-title {
  line-height: 1.52;
}

.widget-posts .posts.full .post-title-alt {
  font-size: 20px;
}

.widget .mc4wp-form .message,
.widget-subscribe .message {
  font-size: 13px;
}

.single-cover .overlay .category {
  line-height: 18px;
  letter-spacing: 0.11em;
}

.upper-footer .widget-about .about-text {
  font-size: 13px;
}

.mid-footer .spc-insta-link a {
  color: #535353;
}

.lower-footer {
  font-size: 12px;
  color: #b4b4b4;
}

.lower-footer .copyright a {
  color: #999;
}

.back-to-top {
  color: #b4b4b4;
}

@media (min-width: 941px) {
  .main-footer.bold .links .menu-item {
    margin-bottom: 14px;
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .main-footer.bold .lower-footer .social-link {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
}

@media (min-width: 768px) {
  .main-footer.bold .lower-footer .social-icons .tsi {
    font-size: 21px;
  }
}

.text,
.post-content,
.textwidget {
  -webkit-font-smoothing: initial;
}

:root {
  --body-font: IBM Plex, Arial, sans-serif;
  --title-font: Cormorant, Didot, serif;
  --alt-font: Cormorant, Didot, serif;
  --text-h-font: var(--title-font);
  --single-content-size: 15px;
  --text-lh: 1.7;
  --post-content-lh: 1.7;
  --related-posts-title: 15px;
  --related-posts-2-title: 16px;
  --title-size-xs: 16px;
  --title-size-s: 17px;
  --tille-size-n: 18px;
  --title-size-m: 20px;
  --title-size-l: 26px;
  --title-size-xl: 30px;
  --grid-post-title: 30px;
  --list-post-title: 27px;
  --large-post-title: 36px;
  --single-title-size: 38px;
  --topbar-dark-bg: #000;
  --nav-text-ls: 0.15em;
  --nav-text: 12px;
  --nav-text-weight: 500;
  --nav-drop-ls: 0.13em;
  --blockquote-font: Cormorant, Didot, serif;
  --main-color: #a18858;
  --main-color-rgb: 161, 136, 88;
  --text-color: #505050;
  --black-color: #505050;
  --tags-color: #454545;
  --share-icons-color: #161616;
}

/**
 * Header and Nav
 */
.top-bar.dark {
  color: #999;
}

.top-bar.dark .cart-action {
  margin-left: 9px;
}

.top-bar.dark .cart-action a,
.top-bar.dark .search-field,
.top-bar.dark .search-submit {
  color: #999;
}

.top-bar.dark .search-submit {
  font-size: 15px;
}

.top-bar.dark .search-field {
  margin-left: 5px;
  font-size: 12px;
  font-weight: 500;
}

.top-bar.dark .social-icons a {
  color: #999;
}

.dark .cart-link .counter {
  padding-top: 2px;
  background: #fff;
  color: #000;
  font-weight: 500;
}

.navigation .mega-menu .recent-posts .post-title {
  font-family: var(--ui-font);
  font-size: 15px;
  font-weight: 600;
}

.navigation.dark {
  --nav-text-weight: 400;
  --nav-drop-color: #eee;
  --nav-drop-active-color: var(--main-color);
}

.navigation.dark .mega-menu .recent-posts .post-title {
  color: #eee;
  font-weight: 500;
}

.mobile-menu li a {
  letter-spacing: 0.12em;
}

/**
 * General components and global changes
 */
::selection {
  background: rgba(var(--main-color-rgb), 0.2);
}

::-moz-selection {
  background: rgba(var(--main-color-rgb), 0.2);
}

input[type="submit"],
button, input[type="button"],
.button {
  letter-spacing: 0.15em;
  font-weight: 400;
}

input,
textarea,
select {
  color: #9c9c9c;
}

h1 {
  font-size: 29px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 22px;
}

blockquote {
  font-size: 21px;
  color: #989898;
  -webkit-font-smoothing: antialiased;
}

.section-head .title {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.075em;
  color: #000;
}

.post-meta {
  font-size: 11px;
}

.post-meta .text-in {
  color: #9c9c9c;
  font-family: var(--alt-font);
}

.post-meta .post-cat > a {
  font-weight: 500;
  letter-spacing: 0.11em;
}

.post-meta time {
  color: #aaa;
}

.post-meta time,
.post-meta .comments {
  font-weight: 500;
  letter-spacing: 0.14em;
}

.post-meta-b .post-cat > a {
  font-size: 12px;
}

.post-meta-b .date-link,
.post-meta-b .comments {
  color: #505050;
}

.post-meta-b .post-title-alt {
  margin: 17px 0;
}

.post-title,
.post-title-alt {
  font-weight: 700;
  color: #000;
  -webkit-font-smoothing: antialiased;
  line-height: 1.35;
}

.post-title a,
.post-title-alt a {
  color: inherit;
}

.post-title-alt {
  line-height: 1.2;
}

.post-meta-a .post-title-alt {
  margin: 16px 0;
}

.grid-post,
.large-post {
  --post-meta-mb: 16px;
  --pm-h-below-mb: 20px;
}

.large-post,
.the-post .the-post-meta {
  --pm-h-below-mb: 32px;
}

.text,
.post-content,
.textwidget {
  -webkit-font-smoothing: antialiased;
}

.main-pagination .next a,
.main-pagination .previous a {
  letter-spacing: 0.15em;
}

.main-pagination .load-button {
  min-width: initial;
  padding: 0 60px;
  border-color: #000;
  background: #000;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0.15em;
  -webkit-font-smoothing: initial;
}

.main-pagination .load-button:hover {
  opacity: 0.9;
}

.main-pagination .load-button .tsi {
  margin-left: 12px;
}

.read-more-btn {
  --rmore-btn-pad: 12px 19px;
  --rmore-btn-fs: 11px;
  border-color: #ddd;
  color: #555;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
}

/**
 * Posts adjustments
 */
.large-post .featured {
  margin-bottom: 30px;
}

.large-post .author {
  letter-spacing: 0;
}

.large-post-b .read-more a {
  padding: 12px 19px;
  border: 1px solid #ddd;
  color: #555;
  background: transparent;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0.1em;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.large-post-b .read-more a:hover {
  background: #000;
  color: #fff;
}

.large-post-b .read-more a:before {
  display: none;
}

.large-post-b .read-more a span {
  padding: 0;
  background: transparent;
}

.large-post-b .post-footer {
  letter-spacing: 0;
  padding-bottom: 2px;
  border-bottom: 1px solid #ebebeb;
}

.large-post-b .post-footer .author a {
  letter-spacing: 0.15em;
}

.large-post-b .post-footer .number {
  font-size: 13px;
  font-weight: 400;
}

.large-post-b .post-footer .social-icons a {
  font-size: 14px;
}

.large-post-footer .read-more {
  font-weight: 700;
  letter-spacing: 0.1em;
}

.list-post .post-excerpt {
  font-size: 14px;
}

/* Single Post */
.single-cover .overlay .post-author {
  font-weight: 500;
  letter-spacing: 0.14em;
}

.post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6 {
  font-weight: 700;
  color: #000;
  -webkit-font-smoothing: antialiased;
}

.tag-share .post-tags a {
  letter-spacing: 0.15em;
  font-weight: 600;
}

.author-box .author > a {
  font-size: 22px;
  font-weight: 600;
}

.related-posts .post-title {
  margin-bottom: 12px;
  font-family: var(--ui-font);
  font-weight: 600;
}

.related-posts .post-meta {
  font-size: 10px;
}

.post-nav .post-title {
  margin-bottom: 8px;
  font-family: inherit;
  line-height: 1.3;
  font-weight: 600;
}

/**
 * Home & Archives changes
 */
.block-head-legacy .title {
  font-size: 15px;
}

.subscribe-box {
  margin-top: -15px;
  padding-left: 27px;
  padding-right: 32px;
}

.subscribe-box .text {
  font-size: 14px;
}

.subscribe-box .input {
  height: 3.15385em;
  width: 270px;
}

.subscribe-box .button {
  width: auto;
  padding: 15px 34px;
  background: #000;
}

.posts-carousel .post-link {
  margin-bottom: 18px;
}

.posts-carousel .post-title {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 21px;
}

.posts-carousel .post-meta {
  font-size: 10px;
}

.slider-overlay .excerpt {
  font-size: 14px;
  letter-spacing: 0;
}

.common-slider .post-title,
.common-slider .heading {
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  line-height: 1.2;
}

.fashion-slider .post-title {
  margin-top: 18px;
  margin-bottom: 18px;
}

/**
 * Sidebar adjustments
 */
.block-head-widget {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.15em;
  color: #fff;
  background: #000;
}

.sidebar .widget_mc4wp_form_widget,
.sidebar .widget-subscribe,
.widget-subscribe-boxed .widget_mc4wp_form_widget,
.widget-subscribe-boxed .widget-subscribe {
  padding: 30px;
}

.sidebar .widget_mc4wp_form_widget .widget-title,
.sidebar .widget-subscribe .widget-title,
.widget-subscribe-boxed .widget_mc4wp_form_widget .widget-title,
.widget-subscribe-boxed .widget-subscribe .widget-title {
  font-weight: 500;
}

.widget-cta .label {
  padding: 8px 18px;
  font-weight: 500;
  font-size: 11px;
  color: #161616;
  letter-spacing: 0.15em;
}

.blocks > .widget-cta {
  padding-bottom: 35px;
  border-bottom: 1px solid #efefef;
  margin-bottom: 70px;
}

.widget_mc4wp_form_widget .message,
.widget-subscribe .message {
  letter-spacing: 0;
  font-size: 14px;
}

.widget_mc4wp_form_widget p:last-of-type,
.widget-subscribe p:last-of-type {
  margin-top: -17px;
}

.widget-posts .post-title {
  font-family: var(--ui-font);
  font-size: 15px;
  font-weight: 600;
  line-height: 1.52;
  letter-spacing: 0;
}

.widget-posts .posts.large .post-title {
  font-size: 17px;
  -webkit-font-smoothing: antialiased;
}

/* Footer Changes */
.upper-footer .widget-title {
  margin-bottom: 42px;
  color: #222;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: -0.03em;
}

.upper-footer .widget-posts .post-meta {
  color: #707070;
}

.upper-footer .widget-about .about-text {
  font-size: 14px;
}

.lower-footer .copyright {
  font-size: 13px;
}

.lower-footer .social-icons {
  letter-spacing: 0.12em;
}

.main-footer.stylish .copyright a {
  color: var(--main-color);
}

.main-footer.dark .copyright {
  font-weight: 500;
}

.main-footer.dark .post-date {
  color: inherit;
}

.main-footer.dark .post-title,
.main-footer.dark .product-title,
.main-footer.dark .posts .post-title {
  font-weight: 400;
  -webkit-font-smoothing: initial;
}

.main-footer.bold .links .menu-item {
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.15;
}

@media (max-width: 540px) {
  .post-title-alt {
    font-size: 24px;
  }
}

@media (min-width: 768px) {
  .subscribe-box .input {
    margin-right: 15px;
  }
}

@media (min-width: 941px) {
  .overlay-post .post-title {
    margin-top: 18px;
    margin-bottom: 18px;
    font-size: 33px;
  }
}

@media (min-width: 1201px) {
  .modern-quote,
  .wp-block-quote.is-style-large {
    font-size: 32px;
  }
  .list-post .post-title {
    max-width: 90%;
  }
  .grid-post .post-meta-center {
    --pm-title-a-pad: 5%;
  }
  .single-cover .overlay .post-title {
    font-size: 36px;
  }
  .fashion-slider .post-title {
    font-size: 36px;
  }
}
