/**
 * Skin: Bold Blog 
 */
:root {
  --base-aa: initial;
  --black-color: #454545;
  --topbar-height: 48px;
  --nav-text: 11px;
  --nav-items-space: 21px;
  --nav-drop-color: #535353;
  --share-icons-size: 13px;
  --section-head-size: 12px;
  --section-head-ls: 0.04em;
  --post-title-size: 25px;
  --grid-post-title: 23px;
  --list-post-title: 23px;
  --list-post-title-b: 24px;
  --overlay-post-title: 22px;
  --carousel-post-title: 17px;
  --feat-grid-title-l: 31px;
  --feat-grid-title-m: 24px;
  --single-content-size: var(--text-size);
  --post-content-lh: 2;
  --p-media-margin: 33px;
  --w-posts-title-large: 16px;
  --blockquote-font: "Merriweather", Georgia, serif;
}

.t.n {
  --topbar-social-color: rgba(255, 255, 255, 0.75);
}

.r.i {
  --nav-text-ls: 0.035em;
}

.s .o {
  font-size: 13px;
}

.u.a .f {
  margin-top: 0;
}

.u.a .f li {
  font-size: 12px;
}

.u.l {
  --topbar-height: 36px;
}

.u.l .c {
  letter-spacing: 0.075em;
}

.c {
  font-size: 11px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.c a {
  letter-spacing: inherit;
}

.h {
  font-size: 10px;
}

.h .p {
  margin-bottom: 0;
}

.h .d > a {
  letter-spacing: 0.09em;
}

.h .v {
  padding: 0;
}

.h .m {
  font-weight: inherit;
  text-transform: none;
  margin-right: 5px;
}

.g .y,
.g .b,
.g time,
.w .y,
.w .b,
.w time {
  font-weight: 500;
  letter-spacing: 0.075em;
}

.g .x {
  margin: 9px 0;
}

.w .v {
  padding: 0 4px;
}

.k {
  --rmore-btn-ls: 0.12em;
  font-weight: 400;
  color: #777;
}

.j,
.q,
.z {
  --pm-h-below-mb: 25px;
}

.q,
.j {
  --post-meta-mb: 22px;
}

.q .te,
.j .te,
.tt .te {
  --pm-title-a-pad: 0;
}

.j {
  --rmore-btn-pad: 11px 12px;
  --rmore-btn-fs: 10px;
}

.j .w {
  margin-top: 30px;
}

.j .tn {
  margin-top: 38px;
}

.j .g {
  margin-top: 25px;
}

.z {
  --rmore-btn-ls: 0.1em;
}

.z .g {
  --post-meta-mb: 14px;
}

.z .g .tr {
  margin: 11px 0;
}

.z .ti {
  line-height: 1.866;
}

.ts .tr {
  max-width: 80%;
  line-height: 1.25;
}

.ts .g .v {
  padding: 0 4px;
}

.ts .g time {
  letter-spacing: 0.1em;
}

.ta .te {
  --pm-title-pad: 0;
}

.tf .tr {
  font-size: 16px;
}

.tl .tc {
  padding-left: 5px;
  font-size: 13px;
}

.th .tp {
  font-weight: 500;
}

@media (min-width: 768px) {
  .td .tp {
    font-size: 44px;
  }
}

@media (min-width: 768px) {
  .tv .tp {
    font-size: 40px;
  }
}

@media (min-width: 768px) {
  .tm .tr {
    font-size: 33px;
  }
}

@media (max-width: 767px) {
  .tg .ty .tr {
    font-size: calc(var(--feat-grid-title-m) * 0.8);
  }
}

.tb .tw {
  margin-bottom: 18px;
}

.tb .tw .tx {
  display: inline-block;
  background: #fff;
  color: var(--black-800);
  letter-spacing: 0.1em;
}

.tk .tr {
  font-size: 14px;
  line-height: 1.6;
}

.tk .t_.tj .tr {
  line-height: 1.52;
}

.tk .t_.tq .x {
  font-size: 20px;
}

.tz .ne .nt,
.nn .nt {
  font-size: 13px;
}

.nr .ni .tx {
  line-height: 18px;
  letter-spacing: 0.11em;
}

.ns .no .nu {
  font-size: 13px;
}

.na .zn a {
  color: #535353;
}

.nf {
  font-size: 12px;
  color: #b4b4b4;
}

.nf .nl a {
  color: #999;
}

.nc {
  color: #b4b4b4;
}

@media (min-width: 941px) {
  .nh.np .nd .nv {
    margin-bottom: 14px;
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .nh.np .nf .nm {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
}

@media (min-width: 768px) {
  .nh.np .nf .f .tsi {
    font-size: 21px;
  }
}

.tc,
.ng,
.ny {
  -webkit-font-smoothing: initial;
}

:root {
  --body-font: Open Sans, sans-serif;
  --title-font: soleil, Raleway, sans-serif;
  --alt-font: soleil, Raleway, sans-serif;
  --h-font: soleil, Raleway, sans-serif;
  --text-size: 15px;
  --single-content-size: 15px;
  --post-content-lh: 1.73;
  --large-post-title: 40px;
  --grid-post-title: 22px;
  --single-title-size: 42px;
  --related-posts-title: 16px;
  --related-posts-2-title: 17px;
  --topbar-dark-bg: #000;
  --nav-color: #111;
  --nav-text-ls: 0.06em;
  --nav-text: 13px;
  --nav-text-weight: 700;
  --nav-drop-color: #313131;
  --nav-drop-text: 12px;
  --nav-drop-ls: 0.06em;
  --blockquote-font: Lora, Georgia, serif;
  --main-color: #08528b;
  --main-color-rgb: 8, 82, 139;
}

/**
 * Header and Nav
 */
.u {
  border-color: #ebebeb;
}

.u.l .c {
  letter-spacing: 0;
  font-size: 12px;
}

.u.l .c a {
  text-transform: none;
}

.r {
  font-family: var(--alt-font);
}

.r .nb > li > a {
  -webkit-font-smoothing: antialiased;
}

.r .nb li li a {
  -webkit-font-smoothing: antialiased;
}

.r .nw .nx .tr {
  margin-bottom: 8px;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: -0.01em;
}

.u.r_ .nb > li > a {
  font-size: 13px;
}

.r.i {
  letter-spacing: 0;
  color: #383838;
}

.r.i .nb > li > a {
  font-weight: 700;
}

.r.i .nb > li li a {
  font-size: 14px;
}

.r.rj {
  --nav-hover-color: #666;
  --nav-active-color: #666;
  --nav-drop-active-color: #666;
  --nav-blip-color: #666;
  --nav-drop-text: 15px;
}

.r.rj .rq > a:after {
  font-size: 15px;
}

.r.rj .nb > li li a:after {
  transition: none;
}

.r.rj .rz > li:not(.ie) a {
  margin: 0 -1px;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  transition: 0.4s cubic-bezier(0.15, 1.03, 0.58, 1);
}

.r.rj .nb > li:not(.ie) li:last-child a {
  margin-bottom: -1px;
  border-bottom: 1px solid transparent;
}

.r.rj .nb > li:not(.ie) li:hover > a {
  background: #000;
  color: #fff;
  border-color: #000;
}

.r.rj .rz > li:not(:first-child) li:first-child a {
  margin-top: -1px;
  border-top: 1px solid transparent;
}

.r.rj .nb > li li a {
  font-size: 15px;
}

.r.n {
  --nav-color: #fff;
}

.it li a {
  letter-spacing: 0.08em;
}

/**
 * General components and global changes
 */
::selection {
  background: rgba(var(--main-color-rgb), 0.7);
  color: #fff;
}

::-moz-selection {
  background: rgba(var(--main-color-rgb), 0.7);
  color: #fff;
}

input[type="submit"],
button,
input[type="button"],
.ii {
  padding: 15px 25px;
  background: #000;
  font-family: var(--ui-font);
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.075em;
  transition: all .25s ease-in-out;
}

input,
textarea,
select {
  font-size: 14px;
}

input {
  height: 3em;
}

.ii:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.07);
  transform: translateY(-1px);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  letter-spacing: -0.015em;
  color: #000;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 29px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 22px;
}

blockquote {
  font-size: 17px;
  color: #989898;
}

.is:before,
.io.iu:before {
  color: #f6f6f6;
}

.tr,
.x {
  font-weight: 700;
  letter-spacing: -0.015em;
  color: #000;
  -webkit-font-smoothing: antialiased;
}

.tr a,
.x a {
  color: inherit;
}

.tc,
.ng,
.ny {
  -webkit-font-smoothing: antialiased;
}

.h {
  font-size: 11px;
}

.h .ri,
.h .nj,
.h .y {
  font-weight: 400;
  letter-spacing: 0.06em;
}

.h .d > a {
  letter-spacing: 0.06em;
}

.h .d > span {
  text-transform: lowercase;
}

.h .b {
  letter-spacing: 0.06em;
  font-weight: 600;
}

.h .v:before {
  padding: 0 2px;
}

.g .x {
  margin: 15px 0;
}

.nq .nz a,
.nq .re a {
  font-weight: 900;
  letter-spacing: 0.15em;
}

.nq .ia {
  min-width: initial;
  padding: 0 60px;
  border-color: #e1e1e1;
  background: #fff;
  font-size: 13px;
  font-weight: 700;
  line-height: 40px;
}

.nq .ia:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.07);
  transform: translateY(-1px);
}

.if {
  margin-bottom: 90px;
}

/**
 * Posts adjustments
 */
.k,
.ng .rr a {
  background: #000;
  border: 0;
  border-radius: 18px;
  color: #fff;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.075em;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}

.k:hover,
.ng .rr a:hover {
  background: #000;
  color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.07);
  transform: translateY(-1px);
}

.k {
  --rmore-btn-pad: 12px 24px;
  --rmore-btn-fs: 12px;
}

.ng .rr a {
  font-size: 12px;
  padding: 12px 24px;
}

.q,
.il:not(.ic) .ih {
  --post-meta-mb: 32px;
  --pm-h-below-mb: 38px;
}

.q .x,
.il:not(.ic) .ih .x {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 800;
  letter-spacing: -0.03em;
  line-height: 1.142;
}

.q .te,
.tt .te {
  --pm-title-a-pad: 5%;
}

.ip .rr {
  margin-top: 40px;
}

.ip .rr a:before {
  display: none;
}

.ip .rr a span {
  padding: 0;
  background: transparent;
}

.ip .tn {
  letter-spacing: 0;
  padding-bottom: 2px;
  border-bottom: 1px solid #efefef;
}

.ip .tn .ra a {
  color: #000;
  letter-spacing: 0.06em;
}

.rn .id {
  border-color: #efefef;
}

.rn .rr {
  font-size: 11px;
  font-weight: 800;
  letter-spacing: 0.1em;
}

.rn .iv {
  font-size: 13px;
}

.rn .im li {
  font-size: 14px;
}

.j {
  --post-meta-mb: 15px;
  --pm-h-below-mb: 18px;
}

.j .ig {
  margin-bottom: 23px;
}

.j .w {
  margin-top: 23px;
}

.ts {
  --post-meta-mb: 20px;
  --pm-h-below-mb: 22px;
  --list-post-title: 23px;
}

.ts .tr {
  max-width: initial;
}

.iy .tr {
  margin-top: 15px;
  margin-bottom: 13px;
  font-size: 32px;
  line-height: 1.2;
}

/**
 * Single Post
 */
.ib .rt {
  margin-right: 8px;
  margin-left: 8px;
}

.ib .rt .tr {
  font-family: var(--title-font);
  font-weight: 800;
  -webkit-font-smoothing: antialiased;
  letter-spacing: -0.04em;
}

.iw .ix .tr {
  font-family: var(--title-font);
  font-weight: 800;
  -webkit-font-smoothing: antialiased;
  letter-spacing: -0.04em;
}

.nr .rt {
  margin-top: -25px;
}

.nr .rt .ri {
  font-weight: 600;
  letter-spacing: 0.1em;
}

.nr .rt .tr {
  font-family: var(--title-font);
  font-weight: 700;
  letter-spacing: -0.03em;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 15px;
}

.nr .rt .h .tx {
  background: #000;
  letter-spacing: 0.06em;
  line-height: 2;
}

.ng h1, .ng h2, .ng h3, .ng h4, .ng h5, .ng h6 {
  letter-spacing: -0.02em;
  font-weight: 700;
}

.ng h1, .ng h2, .ng h4 {
  margin-bottom: 0.86em;
}

.rs .ro a {
  font-weight: 700;
  letter-spacing: 0.1em;
}

.ik a {
  color: #161616;
}

.ru .ra > a {
  font-weight: 700;
  letter-spacing: -0.015em;
  color: #000;
  -webkit-font-smoothing: antialiased;
  margin-top: -7px;
}

.ru .ra > span {
  display: none;
}

.ru .i_ {
  font-size: 14px;
}

.nk .n_ {
  margin-top: -4px;
  padding: 0 20px;
  font-family: var(--title-font);
  font-weight: 700;
  letter-spacing: -0.03em;
  -webkit-font-smoothing: antialiased;
  font-size: 19px;
  text-transform: none;
}

.rf .tr {
  font-weight: 700;
  letter-spacing: -0.015em;
  color: #000;
  -webkit-font-smoothing: antialiased;
}

.rf.ij .tr {
  margin-bottom: 10px;
  line-height: 1.3;
}

.iq {
  margin-top: 55px;
  padding-bottom: 50px;
  border: 1px solid #efefef;
}

.iq .nk {
  margin-top: 32px;
}

.iz .nk:before {
  display: none;
}

.iz .n_ {
  background: transparent;
}

.iz .n_:after {
  content: "";
  display: block;
  margin: 0 auto;
  margin-top: 12px;
  width: 24px;
  height: 2px;
  background: #000;
}

.iz .se:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.07);
  transform: translateY(-1px);
}

.rl > .st,
.rl > li {
  padding: 45px 30px;
}

.rl .st .sn {
  margin-top: 45px;
}

.rl .sn li.st {
  margin-top: 45px;
  padding-top: 45px;
  padding-left: 28px;
}

.rl .sn .st:before, .rl .sn .st:after {
  display: none;
}

.rl .rc {
  font-family: var(--alt-font);
  font-weight: 700;
  letter-spacing: -0.015em;
  color: #000;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 0;
  font-size: 15px;
}

.rl .sr .ri {
  display: none;
}

.rl .si {
  margin-top: -18px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.07em;
  -webkit-font-smoothing: antialiased;
}

.rl .si:before {
  display: none;
}

.rl .rp {
  font-weight: 400;
}

.rl .rh {
  font-size: 14px;
}

#ss {
  margin-top: -38px;
}

.so .nk {
  border: 0;
  margin-top: 65px;
  text-align: center;
}

.ic .su {
  margin-bottom: 33px;
}

/**
 * Home & Archives changes
 */
.rd .n_ {
  font-family: var(--title-font);
  font-weight: 700;
  letter-spacing: -0.03em;
  -webkit-font-smoothing: antialiased;
  font-size: 19px;
  text-transform: none;
}

.tf {
  padding-bottom: 35px;
}

.sa .tr {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.01em;
}

.sf .tp {
  font-weight: 700;
  letter-spacing: -0.015em;
  color: #000;
  -webkit-font-smoothing: antialiased;
}

.sl .rm {
  font-size: 14px;
  letter-spacing: 0;
}

.tg .tr {
  font-weight: 700;
  letter-spacing: -0.015em;
  color: #000;
  -webkit-font-smoothing: antialiased;
}

.tb .tw .tx {
  font-size: 11px;
}

.td {
  margin-left: 8px;
  margin-right: 8px;
}

.td .tp {
  font-weight: 800;
  letter-spacing: -0.04em;
  -webkit-font-smoothing: antialiased;
}

.sc .sh {
  font-family: var(--ui-font);
  font-weight: 400;
  color: #999 !important;
  letter-spacing: 0.05em;
}

.sc .n_ {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: -0.03em;
  text-transform: none;
}

.sp .if,
.sd .if,
.sv:not(.sm) .if {
  margin-top: 80px;
}

/**
 * Sidebar & Widgets adjustments
 */
.sg {
  border-color: #efefef;
}

.sg .sy {
  font-size: 19px;
  margin-top: calc(var(--n-margin) - 0.55em);
}

.rg .sg {
  margin-bottom: 66px;
}

.rg .tz + .sb {
  margin-top: -6px;
}

.rg .rb,
.rg .nn,
.sw .rb,
.sw .nn {
  background: #f6f6f6;
  border: 0;
}

.rg .rb .ry,
.rg .nn .ry,
.sw .rb .ry,
.sw .nn .ry {
  margin-top: -5px;
  margin-bottom: 46px;
  color: #000;
  font-size: 19px;
  font-family: var(--title-font);
  font-weight: 700;
  letter-spacing: -0.03em;
  -webkit-font-smoothing: antialiased;
  line-height: 1.2;
  text-transform: none;
}

.rg .rb .ry span,
.rg .nn .ry span,
.sw .rb .ry span,
.sw .nn .ry span {
  padding: 0;
  background: transparent;
}

.rg .rb .ry:after,
.rg .nn .ry:after,
.sw .rb .ry:after,
.sw .nn .ry:after {
  margin-top: 16px;
  height: 2px;
  background: #000;
  width: 24px;
}

.sx ul,
.sk ul,
.s_ ul,
.sj ul,
.sq ul,
.sz ul,
.oe ul {
  margin-top: 0;
}

.sx li,
.sk li,
.s_ li,
.sj li,
.sq li,
.sz li,
.oe li {
  font-size: 14px;
}

.ot ul,
.on ul,
.or ul {
  margin-top: 0;
}

.tz .ne .nt,
.nn .nt {
  margin-bottom: 30px;
  font-size: 14px;
  letter-spacing: 0;
}

.tz .ne p:last-of-type,
.nn p:last-of-type {
  margin-top: -17px;
}

.rx .rk {
  font-weight: 600;
  font-size: 11px;
  color: #161616;
  padding: 9px 14px;
  letter-spacing: 0.15em;
}

.tk .oi {
  margin-top: 2px;
}

.tk .tr {
  font-weight: 700;
  letter-spacing: -0.015em;
  color: #000;
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
  line-height: 1.46;
}

.tk .t_.tj .tr {
  font-size: 15px;
}

.tk .t_.tj .nj {
  letter-spacing: 0.07em;
}

.no .nu {
  font-size: 14px;
}

.no .rw {
  color: #000;
  font-size: 12px;
}

.os button {
  margin-top: -43px;
}

/* Footer Changes */
.ns .no .nu {
  font-size: 14px;
}

.ns .no .tc.oo {
  color: #7a7a7a;
}

.ns .tz .ry {
  font-family: var(--title-font);
  font-weight: 700;
  letter-spacing: -0.03em;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 40px;
}

.nh.n .tz {
  color: #888;
}

.nh.n .tk .h {
  color: #7a7a7a;
}

.nh.n a {
  color: #fdfdfd;
}

.nh.n a:hover {
  color: #ddd;
}

.nh.n input[type="submit"] {
  background: rgba(255, 255, 255, 0.15);
}

.nh.n .na a {
  color: #454545;
}

.nf .nl {
  font-size: 13px;
}

.nf .f {
  letter-spacing: 0.12em;
}

.nh .tc {
  font-size: 14px;
}

.nh.np {
  margin-left: 8px;
  margin-right: 8px;
}

.nh.np .na {
  border-top: 8px solid #fff;
}

.ou {
  padding-bottom: 66.75676%;
}

.oa {
  padding-bottom: 66.75676%;
}

@media (max-width: 940px) {
  .x {
    font-size: 34px;
  }
  .sp .if,
  .sd .if,
  .sv:not(.sm) .if {
    margin-top: 60px;
  }
}

@media (max-width: 767px) {
  .x {
    font-size: 27px;
  }
  .q .te,
  .tt .te {
    --pm-title-a-pad: 0;
  }
  .iy .tr {
    font-size: 26px;
  }
}

@media (min-width: 941px) {
  .of .tp {
    font-size: 29px;
    max-width: 576px;
    line-height: 1.2;
  }
  .rv .tp {
    font-size: 33px;
    max-width: 615px;
    line-height: 1.2;
    margin: 10px auto;
  }
  .td .tp {
    font-size: 46px;
  }
}

@media (min-width: 1201px) {
  .nr .rt .tr {
    font-size: 40px;
  }
}
