/**
 * Skin: Magazine 
 */
:root {
  --base-aa: initial;
  --black-color: #454545;
  --topbar-height: 48px;
  --nav-text: 11px;
  --nav-items-space: 21px;
  --nav-drop-color: #535353;
  --share-icons-size: 13px;
  --section-head-size: 12px;
  --section-head-ls: 0.04em;
  --post-title-size: 25px;
  --grid-post-title: 23px;
  --list-post-title: 23px;
  --list-post-title-b: 24px;
  --overlay-post-title: 22px;
  --carousel-post-title: 17px;
  --feat-grid-title-l: 31px;
  --feat-grid-title-m: 24px;
  --single-content-size: var(--text-size);
  --post-content-lh: 2;
  --p-media-margin: 33px;
  --w-posts-title-large: 16px;
  --blockquote-font: "Merriweather", Georgia, serif;
}

.t.n {
  --topbar-social-color: rgba(255, 255, 255, 0.75);
}

.r.i {
  --nav-text-ls: 0.035em;
}

.s .o {
  font-size: 13px;
}

.u.a .f {
  margin-top: 0;
}

.u.a .f li {
  font-size: 12px;
}

.u.l {
  --topbar-height: 36px;
}

.u.l .c {
  letter-spacing: 0.075em;
}

.c {
  font-size: 11px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.c a {
  letter-spacing: inherit;
}

.h {
  font-size: 10px;
}

.h .p {
  margin-bottom: 0;
}

.h .d > a {
  letter-spacing: 0.09em;
}

.h .v {
  padding: 0;
}

.h .m {
  font-weight: inherit;
  text-transform: none;
  margin-right: 5px;
}

.g .y,
.g .b,
.g time,
.w .y,
.w .b,
.w time {
  font-weight: 500;
  letter-spacing: 0.075em;
}

.g .x {
  margin: 9px 0;
}

.w .v {
  padding: 0 4px;
}

.k {
  --rmore-btn-ls: 0.12em;
  font-weight: 400;
  color: #777;
}

.j,
.q,
.z {
  --pm-h-below-mb: 25px;
}

.q,
.j {
  --post-meta-mb: 22px;
}

.q .te,
.j .te,
.tt .te {
  --pm-title-a-pad: 0;
}

.j {
  --rmore-btn-pad: 11px 12px;
  --rmore-btn-fs: 10px;
}

.j .w {
  margin-top: 30px;
}

.j .tn {
  margin-top: 38px;
}

.j .g {
  margin-top: 25px;
}

.z {
  --rmore-btn-ls: 0.1em;
}

.z .g {
  --post-meta-mb: 14px;
}

.z .g .tr {
  margin: 11px 0;
}

.z .ti {
  line-height: 1.866;
}

.ts .tr {
  max-width: 80%;
  line-height: 1.25;
}

.ts .g .v {
  padding: 0 4px;
}

.ts .g time {
  letter-spacing: 0.1em;
}

.ta .te {
  --pm-title-pad: 0;
}

.tf .tr {
  font-size: 16px;
}

.tl .tc {
  padding-left: 5px;
  font-size: 13px;
}

.th .tp {
  font-weight: 500;
}

@media (min-width: 768px) {
  .td .tp {
    font-size: 44px;
  }
}

@media (min-width: 768px) {
  .tv .tp {
    font-size: 40px;
  }
}

@media (min-width: 768px) {
  .tm .tr {
    font-size: 33px;
  }
}

@media (max-width: 767px) {
  .tg .ty .tr {
    font-size: calc(var(--feat-grid-title-m) * 0.8);
  }
}

.tb .tw {
  margin-bottom: 18px;
}

.tb .tw .tx {
  display: inline-block;
  background: #fff;
  color: var(--black-800);
  letter-spacing: 0.1em;
}

.tk .tr {
  font-size: 14px;
  line-height: 1.6;
}

.tk .t_.tj .tr {
  line-height: 1.52;
}

.tk .t_.tq .x {
  font-size: 20px;
}

.tz .ne .nt,
.nn .nt {
  font-size: 13px;
}

.nr .ni .tx {
  line-height: 18px;
  letter-spacing: 0.11em;
}

.ns .no .nu {
  font-size: 13px;
}

.na .zn a {
  color: #535353;
}

.nf {
  font-size: 12px;
  color: #b4b4b4;
}

.nf .nl a {
  color: #999;
}

.nc {
  color: #b4b4b4;
}

@media (min-width: 941px) {
  .nh.np .nd .nv {
    margin-bottom: 14px;
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .nh.np .nf .nm {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
}

@media (min-width: 768px) {
  .nh.np .nf .f .tsi {
    font-size: 21px;
  }
}

.tc,
.ng,
.ny {
  -webkit-font-smoothing: initial;
}

:root {
  --body-font: Lato, Arial, sans-serif;
  --ui-font: Open Sans, Arial, sans-serif;
  --title-font: Open Sans, Arial, sans-serif;
  --alt-font: var(--ui-font);
  --h-font: Open Sans, Arial, sans-serif;
  --text-size: 15px;
  --excerpt-size: 16px;
  --single-content-size: 16px;
  --post-content-size: 16px;
  --post-content-lh: 1.8125;
  --related-posts-title: 14px;
  --related-posts-2-title: 16px;
  --single-title-size: 29px;
  --large-post-title: 29px;
  --grid-post-title: 20px;
  --list-post-title: 21px;
  --topbar-dark-bg: #000;
  --nav-text-ls: 0.035em;
  --nav-text: 12px;
  --nav-text-weight: 700;
  --nav-drop-color: #313131;
  --blockquote-font: Lora, Georgia, serif;
  --main-color: #ec0e0e;
  --main-color-rgb: 236, 14, 14;
  --text-color: #616161;
}

/**
 * Header and Nav
 */
.u {
  border-color: #e7e7e7;
}

.u.l .c {
  letter-spacing: 0;
}

.u.l .c a {
  text-transform: none;
}

.u.l .pu.ps {
  border-color: #e7e7e7;
}

.r {
  font-family: var(--alt-font);
}

.r .nb > li > a {
  -webkit-font-smoothing: antialiased;
}

.r .nw .nx .du {
  text-align: left;
}

.r .nw .nx .tr {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.01em;
}

.r .nw .h {
  font-size: 10px;
}

.r.i {
  --nav-text-ls: 0.035em;
  --nav-color: #383838;
  --nav-text-weight: 600;
  --nav-drop-ls: 0;
}

.r.i .nb > li > a {
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
}

.r.n {
  --nav-color: #fff;
  --nav-hover-color: var(--main-color);
  --nav-active-color: var(--main-color);
  --nav-drop-active-color: var(--nav-active-color);
}

.it li a {
  letter-spacing: 0.08em;
}

.dn.dr {
  border-color: #e7e7e7;
}

/**
 * General components and global changes
 */
::selection {
  background: rgba(var(--main-color-rgb), 0.7);
  color: #fff;
}

::-moz-selection {
  background: rgba(var(--main-color-rgb), 0.7);
  color: #fff;
}

input[type="submit"],
button,
input[type="button"],
.ii {
  font-family: var(--body-font);
  font-weight: 900;
  letter-spacing: 0.06em;
}

input,
textarea,
select {
  font-size: 14px;
}

input {
  height: 2.64286em;
}

blockquote {
  font-size: 17px;
  color: #989898;
}

.nk {
  margin-top: 65px;
  border-bottom: 1px solid #e7e7e7;
  text-align: left;
}

.nk .n_ {
  display: inline-block;
  margin-bottom: -1px;
  padding: 0 1px;
  padding-bottom: 8px;
  border-bottom: 1px solid var(--main-color);
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0;
  line-height: 1.2;
}

.nk:before, .nk:after {
  display: none !important;
}

.tr,
.x {
  font-weight: 700;
  letter-spacing: -0.01em;
  color: #000;
}

.tr a,
.x a {
  color: inherit;
}

.h {
  font-size: 11px;
}

.h .ri,
.h time,
.h .y {
  letter-spacing: 0.025em;
}

.op,
.h .tw .tx {
  letter-spacing: 0.025em;
}

.nq .nz a,
.nq .re a {
  font-weight: 900;
  letter-spacing: 0.15em;
}

.if {
  margin-top: 55px;
  margin-bottom: 80px;
}

.k {
  --rmore-btn-pad: 13px 19px;
  font-weight: 700;
}

/**
 * Posts adjustments
 */
.ip .rr a {
  padding: 13px 19px;
  border: 1px solid #e5e5e5;
  background: #fbfbfb;
  color: #777;
  font-size: 11px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  -webkit-font-smoothing: initial;
}

.ip .rr a:hover {
  background: #000;
  color: #fff;
}

.ip .rr a:before {
  display: none;
}

.ip .rr a span {
  padding: 0;
  background: transparent;
}

.rn .rr {
  font-weight: 600;
  letter-spacing: 0.05em;
}

.z:not(.ts) {
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 35px;
}

.z:not(.ts) .oi {
  display: block;
  align-self: center;
  margin-bottom: 5px;
}

.z:not(.ts) .tr {
  margin-top: 0;
}

.qw .ig {
  width: 35.06494%;
}

.ts .tr {
  max-width: 100%;
}

.ld {
  margin-bottom: -50px;
}

.ld .j {
  margin-bottom: 50px;
}

/**
 * Single Post
 */
.iw .ix .tr {
  letter-spacing: -0.025em;
}

.nr .ni .ri {
  font-weight: 600;
  letter-spacing: 0.1em;
}

.ng h1, .ng h2, .ng h3, .ng h4, .ng h5, .ng h6 {
  font-weight: 700;
  letter-spacing: -0.01em;
  color: #000;
}

.rs .ro a {
  font-weight: 700;
  letter-spacing: 0.1em;
}

.ik a {
  color: #161616;
}

.ru .ra > a {
  font-weight: 700;
  letter-spacing: -0.01em;
  color: #000;
}

.ru .i_ {
  font-size: 15px;
}

.rf .t_ {
  margin-bottom: -30px;
  padding-top: 35px;
  text-align: initial;
}

.rf .tr {
  font-weight: 600;
}

.rf .h {
  display: none;
}

.rf.ij .tr {
  padding: 0;
}

.rl {
  margin-bottom: -15px;
}

.rl .rc {
  font-size: 17px;
  font-weight: 700;
  letter-spacing: -0.01em;
}

.rl .rh {
  margin-bottom: -5px;
}

.rl > .st,
.rl > li {
  padding: 45px 0;
}

.rl .st .sn {
  margin-top: 45px;
}

.rl .sn li.st {
  margin-top: 45px;
  padding-top: 45px;
}

.rl .si {
  font-weight: 700;
  letter-spacing: 0.1em;
}

#ss {
  margin-top: -38px;
}

.so .nk {
  border: 0;
  border-top: 1px solid #f2f2f2;
  padding-top: 55px;
  margin-top: 55px;
  text-align: center;
}

.so .nk .n_ {
  border: 0;
}

.so .nk .n_:after {
  content: "";
  display: block;
  margin: 0 auto;
  margin-top: 8px;
  width: 24px;
  height: 1px;
  background: var(--main-color);
}

/**
 * Home & Archives changes
 */
.cr .ci {
  margin-bottom: 50px;
}

.rd .n_ {
  font-size: 15px;
}

.ar {
  letter-spacing: 0;
}

.ar .n_ {
  padding-bottom: 8px;
}

.ar .n_:after {
  margin-top: 8px;
  width: 24px;
}

.gh {
  letter-spacing: 0;
  font-size: 17px;
}

.sa .tr {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.01em;
}

.sl .tp {
  font-weight: 700;
  letter-spacing: -0.01em;
  color: #000;
}

.sl .rm {
  font-size: 14px;
  letter-spacing: 0;
}

.tv .tp {
  font-weight: 700;
  letter-spacing: -0.01em;
  color: #000;
}

.tg .tr {
  font-weight: 700;
  letter-spacing: -0.01em;
  color: #000;
  -webkit-font-smoothing: antialiased;
}

.tb .op .tx {
  font-size: 11px;
}

.pk {
  --feat-grid-title-m: 21px;
}

.pk .h {
  -webkit-font-smoothing: antialiased;
}

.wr {
  --grad-opacity: .8;
}

.sc .sh {
  font-family: var(--ui-font);
  font-weight: 400;
  color: #999 !important;
  letter-spacing: 0.05em;
}

.sc .n_ {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.01em;
}

/**
 * Sidebar & Widgets adjustments
 */
.rg .tz {
  margin-bottom: 55px;
}

.rg .rb,
.rg .nn,
.sw .rb,
.sw .nn {
  background: #fff;
  position: relative;
  border: 5px solid transparent;
}

.rg .rb .ry,
.rg .nn .ry,
.sw .rb .ry,
.sw .nn .ry {
  margin-top: 10px;
  margin-bottom: 17px;
  background: transparent;
  font-weight: 700;
  letter-spacing: -0.01em;
  color: #000;
  font-weight: 900;
  font-size: 21px;
  line-height: 1.3;
  text-transform: none;
}

.rg .rb .ry:after,
.rg .nn .ry:after,
.sw .rb .ry:after,
.sw .nn .ry:after {
  display: none;
}

.rg .rb:before,
.rg .nn:before,
.sw .rb:before,
.sw .nn:before {
  content: "";
  position: absolute;
  display: block;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  box-sizing: border-box;
  top: -5px;
  left: -5px;
  z-index: 1;
  border: 5px solid #f5f5f5;
  box-shadow: inset 0 0 0 1px #d7d7d7;
  pointer-events: none;
}

.rg .rb .nt,
.rg .nn .nt,
.sw .rb .nt,
.sw .nn .nt {
  max-width: 85%;
}

.sx li,
.sk li,
.s_ li,
.sj li,
.sq li,
.sz li,
.oe li {
  font-size: 14px;
}

.rb p:last-of-type,
.nn p:last-of-type {
  margin-top: -16px;
}

.rb .nt,
.nn .nt {
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 13px;
}

.rx .rk {
  font-weight: 600;
  font-size: 11px;
  color: #161616;
  padding: 9px 14px;
  letter-spacing: 0.15em;
}

.tk .oi {
  margin-top: 2px;
}

.tk .t_.kf .ig,
.tk .t_.p .ig {
  width: 110px;
}

.tk .tr {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.01em;
}

.tk .t_.tj .tr {
  font-size: 16px;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
}

.tk .t_.tj time {
  letter-spacing: 0.07em;
}

.tk .t_:not(.tj) .h {
  font-size: 11px;
}

.no .nu {
  font-size: 14px;
}

/* Footer Changes */
.ns .no .nu {
  font-size: 14px;
}

.ns .no .tc.oo {
  color: #7a7a7a;
}

.ns .ry {
  color: #222;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.04em;
}

.ns .tk .h {
  color: #7a7a7a;
}

.nf .nl {
  font-size: 13px;
}

.nf .f {
  letter-spacing: 0.12em;
}

.ou {
  padding-bottom: 66.75676%;
}

.yi {
  padding-bottom: 66.66667%;
}

.ya {
  padding-bottom: 66.36364%;
}

.qx {
  padding-bottom: 66.36364%;
}

@media (max-width: 540px) {
  .x {
    font-size: 24px;
  }
}
