/**
 * Skin: ContentPro
 */
@font-face {
  font-family: 'Charter BS';
  src: url("fonts/charter/charter_regular-webfont.woff2") format("woff2"), url("fonts/charter/charter_regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Charter BS';
  src: url("fonts/charter/charter_italic-webfont.woff2") format("woff2"), url("fonts/charter/charter_italic-webfont.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Charter BS';
  src: url("fonts/charter/charter_bold-webfont.woff2") format("woff2"), url("fonts/charter/charter_bold-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Charter BS';
  src: url("fonts/charter/charter_bold_italic-webfont.woff2") format("woff2"), url("fonts/charter/charter_bold_italic-webfont.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}

:root {
  --main-color: #2d53fe;
  --main-color-rgb: 45, 83, 254;
}

/**
 * Change Main Color
 */
input[type="submit"],
button,
input[type="button"],
.ii,
.ol .oc .oh,
.u.l .c .tp,
.nr .ni .d a,
.rl .sr .ri,
.op a:hover,
.op.od a,
.ig:hover .op a,
.ov .om:hover,
.og .oy .ob button,
.th .tx,
.ow .tx,
.ox .ok,
.ox a:hover,
.ox > span,
.tk .t_.tq .oh:before,
.o_ .oj,
.oq span.oz,
.oq a.ii,
.oq button.ii,
.oq input.ii,
.oq #ue input.se,
.oq a.ii.a,
.oq a.ii.a:hover,
.oq button.ii.a,
.oq button.ii.a:hover,
.oq input.ii.a,
.oq input.ii.a:hover,
.oq #ue input.se.a,
.oq #ue input.se.a:hover,
.oq a.ii:hover,
.oq button.ii:hover,
.oq input.ii:hover,
.oq #ue input.se:hover,
.oq nav.ut ul li span.ok,
.oq nav.ut ul li a:hover,
.oq .un .ur .ii {
  background: #2d53fe;
}

blockquote:before,
.ui,
.t .f a:hover,
.r .nb > li:hover > a,
.r .nb > .us > a,
.r .nb > .uo > a,
.r .nb > .uu > a,
.r li:hover > a:after,
.r .us > a:after,
.r .uo > a:after,
.r .uu > a:after,
.r .nb li li:hover > a,
.r .nb li li.us > a,
.rs .ro a:hover,
.ik a:hover,
.ik .ua,
.ru .ra > span,
.iz .nk .iv,
.rl .si,
.uf input[type=checkbox],
.nh.n .nm:hover,
.nf .f .fa,
.sc .sh,
.im a:hover,
.f a:hover,
.h .d > a,
.ul .ri > a,
.ip .tn .ra a,
.uc .d a,
.nq .nz a:hover,
.nq .re a:hover,
.nq.iv .ok,
.ng a,
.ny a,
.no .rw,
.no .f .uh:hover,
.up .nm:hover,
.ud blockquote:before,
.uv .um,
.oq .ug:before,
.oq .ug span:before,
.oq .uy,
.oq .ub .uw a:hover,
.oq .ub .uw li.ux,
.uk .ub .uw a:hover,
.uk .ub .uw li.ux,
.oq .un .u_ .uj,
.oq .un .u_ .to,
.oq div.uq div.uz p.ae,
.oq div.uq div.uz span.ae,
.oq .oi div.uq div.uz p.ae,
.oq .oi div.uq div.uz span.ae {
  color: #2d53fe;
}

.ov .om:hover,
.og .oy .ob button,
.ox .ok,
.ox a:hover,
.ox > span,
.oq nav.ut ul li span.ok,
.oq nav.ut ul li a:hover {
  border-color: #2d53fe;
}

.oq .un .at .an {
  background-color: #2d53fe;
}

.x:after,
.ar .n_ {
  border-bottom: 1px solid #2d53fe;
}

.ot a:before,
.on a:before,
.or a:before {
  border: 1px solid #2d53fe;
}

/* Change text / contrast font */
body,
input,
textarea,
select,
.sc .ai,
.tc,
.h .m,
.ng,
.ny,
.ot a,
.on a,
.or a,
.oq .as,
.oq .ao,
.oq .au,
.oq form .aa,
.oq .af,
.oq #al .b ol.ac .ai,
.ah .ap,
.ah .ad .av table {
  font-family: Roboto, Arial, sans-serif;
  letter-spacing: 0;
  -webkit-font-smoothing: initial;
}

/* Change main body and heading font */
h1,
h2,
h3,
h4,
h5,
h6,
input[type="submit"],
button,
input[type="button"],
.ii,
blockquote cite,
blockquote .am,
.ag,
.s .ay,
.u .n_,
.r,
.rs,
.ab .aw,
.ax .ak,
.ru,
.rl .a_,
.aj .rk,
.nh.n .nc,
.nf .f,
.nh .aq .nm,
.nh.np .nd .nv,
.nh.np .nl,
.sc,
.op a,
.nk,
.x,
.tr,
.az,
.ar,
.sy,
.sa .tr,
.ua .iv,
.h,
.fe .k,
.ts .k,
.tn .rr,
.tn .im,
.tn .f,
.ip .tn .ra a,
.ov .om,
.of,
.sl .tp,
.tv,
.tv .tp,
.ft .tx,
.ft .tp,
.th .tx,
.th .tp,
.ow .tp,
.td,
.td .tp,
.nq,
.nq .ia,
.ox,
.ng .rr,
.no .rw,
.tk .tr,
.tk .t_.tq .oh:before,
.rx .rk,
.fn .fr,
.fi .fs .fo,
.fi .fu,
.ot,
.on,
.or,
.o_ .oj,
.it,
.oq .if .ii,
.oq .ff .fl,
.oq nav.ut,
.ah .ng,
.oq .fc,
.uk .fc,
.oq ul.fh,
.oq.tz,
.oq div.uq,
.oq .oi div.uq,
.ah .ad .av .ii,
.oq .fp .fd thead th,
.oq .fp .fd .uy,
.fv #fm #fg {
  font-family: Roboto, Arial, sans-serif;
}

.nw .nx .tr,
.tc,
.tn .ra a,
.tn .fy,
.ng,
.rx .rk,
.ny,
.fb a,
.ot a,
.on a,
.or a {
  color: #505050;
}

/* Remove uppercase text on several elements */
.r.i .nb > li li a,
.r.i .nw .fw a,
.r.rj,
.ru .ra > a,
.rl .rc,
.x,
.tr,
.sy .n_,
.sl .tp,
.tv .tp,
.ft .tp,
.th .tp,
.ow .tp,
.td .tp,
.nq.iv,
.ng h1,
.ny h1,
.ng h2,
.ny h2,
.ng h3,
.ny h3,
.ng h4,
.ny h4,
.ng h5,
.ny h5,
.ng h6,
.ny h6,
.fx tfoot a,
.oq ul.fh li.uq,
.oq ul.fh li.uq .fk,
.oq ul.fh .f_,
.oq ul.fh .fj,
.oq .un .ur,
.oq ul.fq li a,
.oq ul.fz li a,
.oq.le .lt > strong,
.oq div.uq .ln,
.oq .oi div.uq .ln,
.oq div.uq .lr,
.oq .oi div.uq .lr,
.oq #al .b ol.ac li .fs strong,
.oq #al .li,
.ah table.ls .rk,
.ah table.ls .lo > a,
.ah table.ls .fk a,
.oq .fp .fd thead th {
  text-transform: none;
}

/**
 * Header and Nav
 */
.r.rj {
  color: #525252;
}

.r.rj .nb > li > a {
  padding: 0 20px;
  font-weight: 500;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

.u.rj .f a:not(:hover) {
  color: #525252;
}

.u.rj .f .tsi {
  font-size: 16px;
}

.u.rj .lu:before {
  height: 16px;
}

.u.rj .lu .tsi {
  font-size: 17px;
  margin-top: -2px;
}

.it li a {
  letter-spacing: 0.12em;
}

/**
 * General components and global changes
 */
.ip .rr a, .z .k, .fe .k {
  padding: 14px 24px;
  border: 0;
  background: #f6f6f6;
  box-shadow: 0 2px 3px rgba(110, 110, 110, 0.25);
  color: #000;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 0.1em;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

:root {
  --main-color: $skin-color;
}

::selection {
  background: rgba(45, 83, 254, 0.5);
}

::-moz-selection {
  background: rgba(45, 83, 254, 0.5);
}

h1, h2, h3, h4, h5, h6 {
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 29px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 22px;
}

input,
textarea,
select {
  font-size: 14px;
}

input {
  height: 3.14286em;
}

input[type="checkbox"],
input[type="radio"] {
  height: auto;
}

input[type="submit"],
button,
input[type="button"],
.ii {
  padding: 15px 20px;
  background: #000;
  letter-spacing: 0.1em;
  font-weight: 500;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
}

input,
textarea,
select {
  color: #9c9c9c;
}

.is,
.io.iu {
  padding-left: 42px;
  padding-right: 42px;
  font-style: normal;
  font-size: 27px;
  line-height: 1.44;
  font-weight: 500;
  color: #252525;
}

.is:before,
.io.iu:before {
  transform: translateX(-50%) translateY(9px) rotate(1deg);
  font-size: 132px;
  color: #2d53fe;
  opacity: .13;
}

.is cite,
.io.iu cite {
  font-size: 14px;
}

.is cite:before,
.io.iu cite:before {
  display: none;
}

.ud {
  font-size: 24px;
  font-weight: 500;
  color: #252525;
  padding-left: 3.896%;
}

.ud:before {
  position: absolute;
  margin-left: -1.75%;
  z-index: -1;
  color: #2d53fe;
  opacity: .13;
  font-size: 96px;
}

.ud.la {
  margin-right: 7%;
}

.ud.lf {
  margin-left: 3.9%;
}

.ud cite {
  margin-top: 24px;
}

blockquote {
  font-family: "IBM Plex Serif", Charter, Georgia, serif;
  font-size: 21px;
  font-style: normal;
  color: #989898;
  -webkit-font-smoothing: antialiased;
}

blockquote p + cite {
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  font-size: 15px;
  color: #9c9c9c;
}

.ll {
  box-shadow: 0 3px 12px -1px rgba(7, 10, 25, 0.2), 0 22px 27px -20px rgba(7, 10, 25, 0.2);
  transition: all .3s ease;
}

.ll:hover {
  opacity: 1;
  box-shadow: 0 15px 45px -5px rgba(7, 10, 25, 0.25);
  filter: brightness(1.07);
  transform: translate(0px, -2px);
}

.nk .n_ {
  padding: 0 16px;
  color: #000;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  font-size: 22px;
  letter-spacing: 0;
  text-transform: none;
}

.nk:before {
  background: #dfdfdf;
}

.h,
.w {
  font-size: 12px;
  color: #9e9e9e;
  -webkit-font-smoothing: antialiased;
  text-align: left;
}

.h .m,
.w .m {
  display: none;
}

.h time,
.h .b,
.w time,
.w .b {
  color: #9e9e9e;
}

.h .v,
.w .v {
  padding: 0;
}

.h .d > a,
.h time,
.h .b,
.w .d > a,
.w time,
.w .b {
  font-weight: 500;
  letter-spacing: 0.1em;
}

.w {
  margin-bottom: 20px;
}

.tr,
.x {
  font-family: Roboto, Arial, sans-serif;
  font-weight: 700;
  color: #030303;
  -webkit-font-smoothing: antialiased;
}

.tr a,
.x a {
  color: inherit;
  transition: all 0.3s ease-in;
}

.tr a:hover,
.x a:hover {
  opacity: 1;
  text-shadow: 2px 2px white, 2px -2px white, -2px 2px white, -2px -2px white;
  box-shadow: 0 -1px 0 0 white inset, 0 -2px 0 0 var(--main-color, #000) inset;
}

.x {
  margin-top: 18px;
  margin-bottom: 18px;
  font-size: 27px;
  line-height: 1.4;
}

.x:after {
  display: none;
}

.tc,
.ng,
.ny {
  color: #555;
  font-size: 16px;
  line-height: 1.6875;
  -webkit-font-smoothing: antialiased;
}

.tc {
  font-size: 15px;
}

.nq .nz a,
.nq .re a {
  font-size: 12px;
  letter-spacing: 0.1em;
  border-bottom: 1px solid #e1e1e1;
}

.nq .ia {
  min-width: initial;
  padding: 16px 50px;
  border: 0;
  background: #f6f6f6;
  box-shadow: 0 2px 3px rgba(110, 110, 110, 0.25);
  color: #000;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.1em;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.nq .ia:hover {
  opacity: 0.9;
}

.nq .ia .tsi:not(.lc) {
  display: none;
}

.nq.iv {
  font-size: 14px;
  letter-spacing: 0;
  -webkit-font-smoothing: antialiased;
}

.lh .lp {
  padding: 0 20px;
}

.lh .ia {
  width: 100%;
  box-sizing: border-box;
}

/**
 * Posts adjustments
 */
.ld .j {
  margin-bottom: 50px;
}

.ld.lv {
  margin-bottom: -50px;
}

.q,
.j {
  padding-left: 20px;
  padding-right: 20px;
}

.q .rt,
.q .ig,
.j .rt,
.j .ig {
  margin-left: -20px;
  margin-right: -20px;
}

.q .x {
  max-width: 88%;
}

.q .w .x {
  margin: 18px 0;
}

.q .rt img,
.q .lm,
.q .lg {
  margin-bottom: 46px;
}

.q .h {
  margin-bottom: 21px;
}

.q .ra {
  letter-spacing: 0;
}

.q .ng > p:last-of-type + .rr {
  margin-top: -6px;
}

.ip .rr a:hover {
  background: #000;
  color: #fff;
}

.ip .rr a:before {
  display: none;
}

.ip .rr a span {
  padding: 0;
  background: transparent;
}

.ip .tn {
  letter-spacing: 0;
  padding-bottom: 2px;
  border-bottom: 1px solid #ebebeb;
}

.ip .tn .ra a {
  letter-spacing: 0.15em;
}

.ip .tn .iv {
  font-size: 13px;
  font-weight: 400;
}

.ip .tn .f a {
  font-size: 14px;
}

.tn {
  margin-top: 45px;
}

.tn .rr {
  font-size: 11px;
  font-weight: 900;
  letter-spacing: 0.1em;
}

.z .tr {
  margin-top: 18px;
  margin-bottom: 18px;
  line-height: 1.4;
}

.z .h {
  font-size: 12px;
}

.j .x {
  font-size: 24px;
}

.j .ig {
  margin-bottom: 36px;
  overflow: visible;
}

.j .w {
  margin-bottom: 20px;
}

.ly .x {
  font-size: 22px;
}

.iy .d a {
  background: #000;
  color: #fff !important;
}

.iy .tr:hover {
  opacity: 1;
  box-shadow: none;
  text-shadow: none;
}

.lb .lw {
  margin-bottom: -38px;
}

.lb .sa {
  margin-bottom: 42px;
}

.lb .sa .oi {
  padding-left: 18px;
  padding-right: 18px;
}

.lb .sa img {
  margin-bottom: 25px;
}

.lb .sa .tr {
  font-size: 19px;
  font-weight: 500;
  line-height: 1.42;
}

.lb .sa .h {
  display: none;
}

/* Single Post */
.nr .ni .ri {
  font-weight: 500;
  letter-spacing: 0.1em;
}

.lx .x {
  font-size: 42px;
  max-width: 675px;
  line-height: 1.21;
  -webkit-font-smoothing: initial;
}

.lx .ih {
  margin-bottom: 35px;
}

.lx .il .rt {
  margin-bottom: 50px;
}

.ib .if {
  margin-top: 75px;
}

.ib .ng {
  margin-top: -.421em;
}

.ib .rt .h {
  font-size: 12px;
}

.ib .rt .tx {
  letter-spacing: 0.08em;
  line-height: 26px;
}

.ib .rt .tr {
  font-size: 38px;
  line-height: 1.21;
  -webkit-font-smoothing: initial;
}

.ib .rt .lk {
  font-weight: 500;
  letter-spacing: 0.1em;
}

.ng p > a,
.ng li > a,
.ng dd > a,
.ng h1 a,
.ng h2 a,
.ng h3 a,
.ng h4 a,
.ng h5 a,
.ng h6 a,
.ng em a,
.ng strong a {
  color: inherit;
  box-shadow: 0 -1px 0 0 #2d53fe inset;
  transition: .3s ease-in;
}

.ng p > a:hover,
.ng li > a:hover,
.ng dd > a:hover,
.ng h1 a:hover,
.ng h2 a:hover,
.ng h3 a:hover,
.ng h4 a:hover,
.ng h5 a:hover,
.ng h6 a:hover,
.ng em a:hover,
.ng strong a:hover {
  opacity: 1;
  box-shadow: 0 -1px 0 0 currentColor inset;
}

.ng li > ul,
.ng li > ol {
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}

.ng li {
  margin-bottom: 0.8em;
}

.ng figure > a:not(.l_) {
  display: block;
}

.ng h1, .ng h2, .ng h3, .ng h4, .ng h5, .ng h6 {
  font-family: Roboto, Arial, sans-serif;
  font-weight: 700;
  color: #030303;
  -webkit-font-smoothing: antialiased;
}

.ng figcaption a,
.ng .lj a {
  text-decoration: underline;
}

.ng .lq figcaption,
.ng .lj {
  font-size: 14px;
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  color: #777;
}

.ng .is,
.ng .io.iu {
  margin-top: 2em;
  margin-bottom: 1.9em;
}

.ng .rr {
  margin-top: 22px;
  text-transform: none;
  font-weight: 400;
  color: #000;
  letter-spacing: 0;
  font-size: 16px;
  text-align: initial;
}

.ng .rr a:after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background: #2d53fe;
  transition: transform .3s ease-in;
}

.ng .rr a:hover:after {
  background: #000;
}

.ng .rr a:before {
  display: none;
}

.ng .rr a span {
  padding: 0;
  background: transparent;
}

.lz {
  font-family: ff-more-web-pro, "PT Serif", Georiga, serif;
  font-size: 19px;
  font-weight: 400;
  color: #444;
  color: rgba(0, 0, 0, 0.74);
  line-height: 1.73;
}

.lz p {
  margin-bottom: 1.65em;
}

.lz > ul,
.lz > ol {
  margin-top: 1.65em;
  margin-bottom: 1.65em;
}

.lz > ul,
.lz > ul ul {
  list-style: none;
}

.lz > ul li:before {
  position: absolute;
  content: "\2022";
  margin-left: -25px;
  display: inline-block;
  text-align: right;
  opacity: 0.8;
  font-family: georgia, arial, system-ui;
  transform: scale(1.1);
  -webkit-font-smoothing: antialiased;
}

.lz h1 {
  font-size: 1.7em;
}

.lz h2 {
  font-size: 1.6em;
}

.lz h3 {
  font-size: 1.3em;
}

.lz h4 {
  font-size: 1.15em;
}

.lz h5 {
  font-size: 1.05em;
}

.lz h6 {
  font-size: 1em;
}

.lz h1, .lz h2, .lz h3, .lz h4, .lz h5, .lz h6 {
  margin-top: 1.4em;
  margin-bottom: 0.6em;
}

.rs .ro a {
  color: #161616;
  letter-spacing: 0.1em;
  font-weight: 500;
}

.ik a {
  color: #161616;
}

.ce .aw {
  margin-top: -1px;
  display: block;
  width: 42px;
  height: 42px;
  border: 0;
  box-shadow: -3px -3px 8px -6px rgba(0, 0, 0, 0.1), 1px 3px 15px -7px;
  border-radius: 50%;
  font-size: 17px;
  line-height: 44px;
  text-align: center;
  margin-bottom: 12px;
}

.ce .aw:hover {
  background: #fff;
  transform: translateY(-2px);
}

.ce .ak {
  margin-bottom: 27px;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
}

.ce .tsi {
  -webkit-font-smoothing: antialiased;
}

.ru .ra > a {
  margin-top: -5px;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  font-size: 22px;
}

.ru .ra > span {
  display: none;
}

.ru .ct img {
  margin-top: -77px;
  width: 110px;
  height: auto;
}

.ru .i_ {
  font-size: 16px;
}

.rf .tr {
  margin-top: 25px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0;
  text-align: left;
}

.rf.ij .tr {
  margin-top: 25px;
  margin-bottom: 12px;
  padding: 0;
  font-size: 20px;
}

.rf .h,
.rf.ij .h {
  font-size: 12px;
}

.rf .oi {
  padding-left: 20px;
  padding-right: 20px;
}

.aj .tr {
  margin-bottom: 8px;
  font-family: inherit;
  line-height: 1.3;
  font-weight: 600;
}

.rl .rc {
  font-size: 18px;
  font-weight: 500;
}

.rl .si:before {
  vertical-align: middle;
}

.rl .si,
.rl .rp,
.rl .st .cn {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.1em;
  -webkit-font-smoothing: antialiased;
}

.rl .rh {
  margin-top: 8px;
  font-size: 16px;
}

.uf .se {
  padding: 14px 25px;
}

/**
 * Home & Archives changes
 */
.cr .ci {
  margin-bottom: 60px;
}

.cr .nq {
  margin-top: 70px;
}

.az .n_ {
  font-size: 18px;
}

.sy .n_ {
  font-size: 27px;
  padding-left: 20px;
}

.sy .cs {
  font-size: 14px;
}

.tl {
  margin-top: -15px;
  padding-left: 27px;
  padding-right: 32px;
}

.tl .tc {
  font-size: 14px;
}

.tl .co {
  height: 3.15385em;
  width: 270px;
}

.tl .ii {
  width: auto;
  padding: 15px 34px;
  background: #000;
}

.tu .n_ {
  background: transparent;
}

.tu .n_:before,
.tu .n_:after {
  display: none;
}

.tu .az {
  margin-top: -5px;
  margin-bottom: 62px;
}

.tu .az:before {
  display: none;
}

.tu .az:after {
  top: 100%;
  left: 50%;
  margin-top: 12px;
  margin-left: -18px;
  width: 36px;
  height: 2px;
  background: #000;
}

.tu .cu {
  margin-bottom: 18px;
}

.tu .tr {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 20px;
}

.tu .h {
  font-size: 10px;
}

.sl .tp {
  font-family: Roboto, Arial, sans-serif;
  font-weight: 700;
  color: #030303;
  -webkit-font-smoothing: antialiased;
  line-height: 1.2;
}

.sl .rm {
  font-size: 14px;
  letter-spacing: 0;
}

.sf .tr,
.sf .tp {
  font-family: Roboto, Arial, sans-serif;
  font-weight: 700;
  color: #030303;
  -webkit-font-smoothing: antialiased;
  line-height: 1.2;
}

.tm .tr {
  margin-top: 18px;
  margin-bottom: 18px;
}

/**
 * Sidebar adjustments
 */
.rg .tz {
  margin-bottom: 50px;
}

.rg .ry {
  margin-bottom: 35px;
  padding-bottom: 6px;
  border: 0;
  border-bottom: 1px solid #e1e1e1;
  font-size: 21px;
  color: #000;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  text-align: left;
  text-transform: none;
  letter-spacing: 0;
  line-height: 1.5;
}

.rg .rb,
.rg .nn {
  background: #f6f6f6;
  border: 0;
  padding: 34px 30px;
}

.rg .rb .ry,
.rg .nn .ry {
  margin-top: -3px;
  margin-bottom: 32px;
  text-align: center;
}

.rg .rb .ry span,
.rg .nn .ry span {
  padding: 0;
  background: transparent;
}

.rg .rb .ry:after,
.rg .nn .ry:after {
  margin-top: 8px;
  height: 2px;
  background: #000;
  width: 24px;
}

.rb .nt,
.nn .nt {
  margin-bottom: 22px;
  font-size: 16px;
  color: #5b5b5b;
  -webkit-font-smoothing: antialiased;
}

.rb input,
.nn input {
  height: 44px;
}

.rx .rk {
  padding: 7px 18px;
  font-weight: 500;
  font-size: 13px;
  color: #111;
  letter-spacing: 0.1em;
}

.cr > .rx {
  padding-bottom: 35px;
  border-bottom: 1px solid #efefef;
  margin-bottom: 70px;
}

.rb .nt,
.nn .nt {
  letter-spacing: 0;
  font-size: 14px;
}

.rb p:last-of-type,
.nn p:last-of-type {
  margin-top: -17px;
}

.n .rb input[type="submit"], .n
.nn input[type="submit"] {
  background: #2d53fe;
}

.tk .tr {
  font-size: 15px;
  font-weight: 600;
  line-height: 1.52;
  letter-spacing: 0;
}

.tk .x {
  font-weight: 500;
}

.tk .t_.tj .tr {
  font-size: 17px;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
}

.tk .j {
  padding-left: 0;
  padding-right: 0;
}

.tk .j .w {
  margin-bottom: 14px;
}

.tk .j img {
  float: none;
}

.tk .ig {
  margin-left: 0;
  margin-right: 0;
}

.tk .ig + .ca {
  margin-bottom: 20px;
}

.sb .tr a:hover {
  text-shadow: none;
  box-shadow: none;
}

.sx li,
.sk li,
.s_ li,
.sj li,
.sq li,
.sz li,
.oe li {
  font-size: 14px;
}

.ot a,
.on a,
.or a {
  font-size: 15px;
}

/* Footer Changes */
.ns .ry {
  margin-bottom: 42px;
  color: #222;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: -0.03em;
}

.ns .tk .h {
  color: #707070;
}

.ns .no .nu {
  font-size: 15px;
}

.nf .nl {
  font-size: 13px;
}

.nf .f {
  letter-spacing: 0.12em;
}

.nh.cl .nl a {
  color: #2d53fe;
}

.nh.n .nl {
  font-weight: 500;
}

.nh.n .nj {
  color: inherit;
}

.nh.n .tr,
.nh.n .cc,
.nh.n .t_ .tr {
  font-weight: 400;
  -webkit-font-smoothing: initial;
}

.nh.np .nd .nv {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.1em;
}

.nh.np .nc {
  font-weight: 500;
  letter-spacing: 0.1em;
}

.nh.ch {
  -webkit-font-smoothing: antialiased;
}

.nh.ch .nf .nm {
  background: #2d53fe;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.nh.ch .nl {
  font-weight: 500;
  letter-spacing: 0.11em;
}

@media (max-width: 540px) {
  .is,
  .io.iu {
    font-size: 23px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .x {
    font-size: 20px;
  }
  .lb .sa .tr {
    font-size: 15px;
  }
  .rl .rh {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .tl .co {
    margin-right: 15px;
  }
}

@media (min-width: 941px) {
  .iy .tr {
    margin-top: 18px;
    margin-bottom: 18px;
    font-size: 33px;
  }
}

@media (min-width: 1201px) {
  .z .tr {
    font-size: 25px;
    max-width: 90%;
  }
  .nr .ni .tr {
    font-size: 36px;
  }
  .tm .tr {
    font-size: 36px;
  }
}

@media (min-width: 1501px) {
  .ib .rt {
    height: 570px;
  }
  .ce {
    margin-left: -138px;
  }
}
