/**
 * Skin: Trendy
 */
:root {
  --base-aa: initial;
  --black-color: #454545;
  --topbar-height: 48px;
  --nav-text: 11px;
  --nav-items-space: 21px;
  --nav-drop-color: #535353;
  --share-icons-size: 13px;
  --section-head-size: 12px;
  --section-head-ls: 0.04em;
  --post-title-size: 25px;
  --grid-post-title: 23px;
  --list-post-title: 23px;
  --list-post-title-b: 24px;
  --overlay-post-title: 22px;
  --carousel-post-title: 17px;
  --feat-grid-title-l: 31px;
  --feat-grid-title-m: 24px;
  --single-content-size: var(--text-size);
  --post-content-lh: 2;
  --p-media-margin: 33px;
  --w-posts-title-large: 16px;
  --blockquote-font: "Merriweather", Georgia, serif;
}

.t.n {
  --topbar-social-color: rgba(255, 255, 255, 0.75);
}

.r.i {
  --nav-text-ls: 0.035em;
}

.s .o {
  font-size: 13px;
}

.u.a .f {
  margin-top: 0;
}

.u.a .f li {
  font-size: 12px;
}

.u.l {
  --topbar-height: 36px;
}

.u.l .c {
  letter-spacing: 0.075em;
}

.c {
  font-size: 11px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.c a {
  letter-spacing: inherit;
}

.h {
  font-size: 10px;
}

.h .p {
  margin-bottom: 0;
}

.h .d > a {
  letter-spacing: 0.09em;
}

.h .v {
  padding: 0;
}

.h .m {
  font-weight: inherit;
  text-transform: none;
  margin-right: 5px;
}

.g .y,
.g .b,
.g time,
.w .y,
.w .b,
.w time {
  font-weight: 500;
  letter-spacing: 0.075em;
}

.g .x {
  margin: 9px 0;
}

.w .v {
  padding: 0 4px;
}

.k {
  --rmore-btn-ls: 0.12em;
  font-weight: 400;
  color: #777;
}

.j,
.q,
.z {
  --pm-h-below-mb: 25px;
}

.q,
.j {
  --post-meta-mb: 22px;
}

.q .te,
.j .te,
.tt .te {
  --pm-title-a-pad: 0;
}

.j {
  --rmore-btn-pad: 11px 12px;
  --rmore-btn-fs: 10px;
}

.j .w {
  margin-top: 30px;
}

.j .tn {
  margin-top: 38px;
}

.j .g {
  margin-top: 25px;
}

.z {
  --rmore-btn-ls: 0.1em;
}

.z .g {
  --post-meta-mb: 14px;
}

.z .g .tr {
  margin: 11px 0;
}

.z .ti {
  line-height: 1.866;
}

.ts .tr {
  max-width: 80%;
  line-height: 1.25;
}

.ts .g .v {
  padding: 0 4px;
}

.ts .g time {
  letter-spacing: 0.1em;
}

.tu .h {
  font-size: 9px;
}

.tu .tr {
  margin-top: 9px;
  margin-bottom: 9px;
}

.ta .te {
  --pm-title-pad: 0;
}

.tf .tr {
  font-size: 16px;
}

.tl .tc {
  padding-left: 5px;
  font-size: 13px;
}

.th .tp {
  font-weight: 500;
}

@media (min-width: 768px) {
  .td .tp {
    font-size: 44px;
  }
}

@media (min-width: 768px) {
  .tv .tp {
    font-size: 40px;
  }
}

@media (min-width: 768px) {
  .tm .tr {
    font-size: 33px;
  }
}

@media (max-width: 767px) {
  .tg .ty .tr {
    font-size: calc(var(--feat-grid-title-m) * 0.8);
  }
}

.tb .tw {
  margin-bottom: 18px;
}

.tb .tw .tx {
  display: inline-block;
  background: #fff;
  color: var(--black-800);
  letter-spacing: 0.1em;
}

.tk .tr {
  font-size: 14px;
  line-height: 1.6;
}

.tk .t_.tj .tr {
  line-height: 1.52;
}

.tk .t_.tq .x {
  font-size: 20px;
}

.tz .ne .nt,
.nn .nt {
  font-size: 13px;
}

.nr .ni .tx {
  line-height: 18px;
  letter-spacing: 0.11em;
}

.ns .no .nu {
  font-size: 13px;
}

.na .zn a {
  color: #535353;
}

.nf {
  font-size: 12px;
  color: #b4b4b4;
}

.nf .nl a {
  color: #999;
}

.nc {
  color: #b4b4b4;
}

@media (min-width: 941px) {
  .nh.np .nd .nv {
    margin-bottom: 14px;
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .nh.np .nf .nm {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
}

@media (min-width: 768px) {
  .nh.np .nf .f .tsi {
    font-size: 21px;
  }
}

.tc,
.ng,
.ny {
  -webkit-font-smoothing: initial;
}

:root {
  --body-font: Lora, Georgia, serif;
  --ui-font: Lato, Arial, sans-serif;
  --title-font: TexGyreAdventor, Futura, Arial, sans-serif;
  --text-h-font: var(--title-font);
  --blockquote-font: Lora, Georgia, serif;
  --post-content-lh: 1.857;
  --single-title-size: 25px;
  --large-post-title: 23px;
  --grid-post-title: 20px;
  --related-posts-title: 15px;
  --nav-color: #535353;
  --nav-text-ls: 0.1em;
  --nav-text-weight: 900;
  --nav-drop-text: 11px;
  --nav-drop-ls: 0.07em;
  --main-color: #cea525;
  --main-color-rgb: 206, 165, 37;
  --text-color: #535353;
  --black-color: #535353;
}

/* Navigation Adjustments */
.r .nb > li li a {
  font-weight: 700;
}

.r .nw .nx .tr {
  font-family: var(--ui-font);
  font-size: 15px;
  font-weight: 700;
}

.r.n {
  --nav-hover-color: #fff;
  -webkit-font-smoothing: antialiased;
}

/**
 * General components and global changes
 */
.nk .n_ {
  font-weight: 900;
  letter-spacing: 0.1em;
  font-size: 11px;
}

.h time {
  font-weight: 700;
  letter-spacing: 0.05em;
}

.h .d > a {
  font-weight: 900;
  letter-spacing: 0.1em;
}

.h .v:before {
  padding: 0 5px;
}

.tr,
.x {
  -webkit-font-smoothing: antialiased;
}

.g .x {
  margin: 12px 0;
}

.j {
  --post-meta-mb: 15px;
  --pm-h-below-mb: 19px;
}

.nq {
  margin-top: 90px;
}

.nq .nz a,
.nq .re a {
  font-weight: 900;
  letter-spacing: 0.15em;
}

/**
 * Posts adjustments
 */
.j .x {
  margin: 10px 0;
  line-height: 1.5;
}

.j .ig {
  margin-bottom: 0;
}

.j .ca {
  position: relative;
  margin: 0 12px;
  margin-top: -12px;
  padding: 0 20px;
  padding-top: 18px;
  background: #fff;
}

.j .w {
  margin-top: 5px;
}

.j .g {
  margin-top: 0;
}

.q .rt {
  margin-bottom: 23px;
}

.rn .rr {
  font-size: 11px;
  font-weight: 900;
  letter-spacing: 0.1em;
}

.iy .tw .tx {
  color: #161616;
}

.iy .tr {
  margin-top: 12px;
  margin-bottom: 12px;
}

/**
 * Single Post changes 
 */
.nr .ni .ri {
  font-weight: 600;
  letter-spacing: 0.05em;
}

.rs .ro a {
  font-weight: 900;
  letter-spacing: 0.1em;
}

.ru .ra > span {
  font-weight: 900;
  letter-spacing: 0.1em;
}

.ru .ra > a {
  font-family: var(--title-font);
  font-size: 22px;
}

.ru .tc {
  font-size: 13px;
}

.rf .tr {
  padding: 0 10px;
  font-family: var(--ui-font);
  font-weight: 700;
}

.rl .rc {
  color: #535353;
  margin-bottom: 0;
}

.rl .rh {
  font-size: 13px;
}

.rl .rp {
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
}

/**
 * Home changes
 */
.rd .n_ {
  font-size: 16px;
}

.tu .tr {
  font-size: 18px;
}

.uc .d a {
  color: #161616;
}

.uc .bp:before {
  content: "";
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  pointer-events: none;
  transform: translate3d(0, 0, 0);
  transition: opacity 0.3s ease-in;
}

.uc .bp:hover:before {
  opacity: 0.4;
}

.uc .bp:hover .ll {
  filter: none;
}

.uc .ni {
  width: 500px;
  max-width: calc(100% - 200px);
  background: rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.25);
}

.uc .tr a,
.uc .tr a:hover {
  color: #fff;
}

.uc time {
  color: #fff;
}

.og .ni {
  width: 350px;
  margin-left: -175px;
  padding-left: 25px;
  padding-right: 25px;
}

.og .tr {
  font-size: 20px;
}

.tg .tr {
  -webkit-font-smoothing: antialiased;
}

.tg .tw .tx {
  font-size: 11px;
}

.sf .tp,
.sf .tr {
  -webkit-font-smoothing: antialiased;
}

.sl .tp {
  letter-spacing: 0;
}

.sl .rm {
  font-size: 15px;
  letter-spacing: 0;
}

/**
 * Sidebar adjustments
 */
.mh {
  font-weight: 900;
  letter-spacing: 0.1em;
  border-color: transparent;
  background: #161616;
  color: #fff;
  font-size: 11px;
  -webkit-font-smoothing: antialiased;
}

.rg .rb,
.rg .nn,
.sw .rb,
.sw .nn {
  background: #f7f7f7;
}

.rg .rb .ry,
.rg .nn .ry,
.sw .rb .ry,
.sw .nn .ry {
  background: transparent;
  color: #333;
}

.no .nu {
  font-size: 13px;
}

.no .rw {
  font-weight: 900;
  letter-spacing: 0.1em;
}

.rx .rk {
  font-weight: 900;
  letter-spacing: 0.1em;
}

.tk .tr {
  font-family: var(--ui-font);
  font-size: 15px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

.tk .h {
  font-size: 10px;
}

.ot li,
.tz .q_ li,
.or li {
  padding: 10px 0;
}

.ot li:only-child,
.tz .q_ li:only-child,
.or li:only-child {
  padding-bottom: 0;
}

.ot a,
.tz .q_ a,
.or a {
  font-size: 13px;
}

.ot a:before,
.tz .q_ a:before,
.or a:before {
  margin-top: 8px;
}

/**
 * Footer Changes 
 */
.ns .ry {
  color: #333;
  font-weight: 700;
}

.mj .nf .nl {
  font-weight: 900;
  letter-spacing: 0.1em;
  font-size: 11px;
  font-family: var(--ui-font);
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}

.mj .nf .f {
  line-height: 1.5;
}
