/**
 * Skin: Mom / Parents
 */
:root {
  --base-aa: initial;
  --black-color: #454545;
  --topbar-height: 48px;
  --nav-text: 11px;
  --nav-items-space: 21px;
  --nav-drop-color: #535353;
  --share-icons-size: 13px;
  --section-head-size: 12px;
  --section-head-ls: 0.04em;
  --post-title-size: 25px;
  --grid-post-title: 23px;
  --list-post-title: 23px;
  --list-post-title-b: 24px;
  --overlay-post-title: 22px;
  --carousel-post-title: 17px;
  --feat-grid-title-l: 31px;
  --feat-grid-title-m: 24px;
  --single-content-size: var(--text-size);
  --post-content-lh: 2;
  --p-media-margin: 33px;
  --w-posts-title-large: 16px;
  --blockquote-font: "Merriweather", Georgia, serif;
}

.t.n {
  --topbar-social-color: rgba(255, 255, 255, 0.75);
}

.r.i {
  --nav-text-ls: 0.035em;
}

.s .o {
  font-size: 13px;
}

.u.a .f {
  margin-top: 0;
}

.u.a .f li {
  font-size: 12px;
}

.u.l {
  --topbar-height: 36px;
}

.u.l .c {
  letter-spacing: 0.075em;
}

.c {
  font-size: 11px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.c a {
  letter-spacing: inherit;
}

.h {
  font-size: 10px;
}

.h .p {
  margin-bottom: 0;
}

.h .d > a {
  letter-spacing: 0.09em;
}

.h .v {
  padding: 0;
}

.h .m {
  font-weight: inherit;
  text-transform: none;
  margin-right: 5px;
}

.g .y,
.g .b,
.g time,
.w .y,
.w .b,
.w time {
  font-weight: 500;
  letter-spacing: 0.075em;
}

.g .x {
  margin: 9px 0;
}

.w .v {
  padding: 0 4px;
}

.k {
  --rmore-btn-ls: 0.12em;
  font-weight: 400;
  color: #777;
}

.j,
.q,
.z {
  --pm-h-below-mb: 25px;
}

.q,
.j {
  --post-meta-mb: 22px;
}

.q .te,
.j .te,
.tt .te {
  --pm-title-a-pad: 0;
}

.j {
  --rmore-btn-pad: 11px 12px;
  --rmore-btn-fs: 10px;
}

.j .w {
  margin-top: 30px;
}

.j .tn {
  margin-top: 38px;
}

.j .g {
  margin-top: 25px;
}

.z {
  --rmore-btn-ls: 0.1em;
}

.z .g {
  --post-meta-mb: 14px;
}

.z .g .tr {
  margin: 11px 0;
}

.z .ti {
  line-height: 1.866;
}

.ts .tr {
  max-width: 80%;
  line-height: 1.25;
}

.ts .g .v {
  padding: 0 4px;
}

.ts .g time {
  letter-spacing: 0.1em;
}

.ta .te {
  --pm-title-pad: 0;
}

.tf .tr {
  font-size: 16px;
}

.tl .tc {
  padding-left: 5px;
  font-size: 13px;
}

.th .tp {
  font-weight: 500;
}

@media (min-width: 768px) {
  .td .tp {
    font-size: 44px;
  }
}

@media (min-width: 768px) {
  .tv .tp {
    font-size: 40px;
  }
}

@media (min-width: 768px) {
  .tm .tr {
    font-size: 33px;
  }
}

@media (max-width: 767px) {
  .tg .ty .tr {
    font-size: calc(var(--feat-grid-title-m) * 0.8);
  }
}

.tb .tw {
  margin-bottom: 18px;
}

.tb .tw .tx {
  display: inline-block;
  background: #fff;
  color: var(--black-800);
  letter-spacing: 0.1em;
}

.tk .tr {
  font-size: 14px;
  line-height: 1.6;
}

.tk .t_.tj .tr {
  line-height: 1.52;
}

.tk .t_.tq .x {
  font-size: 20px;
}

.tz .ne .nt,
.nn .nt {
  font-size: 13px;
}

.nr .ni .tx {
  line-height: 18px;
  letter-spacing: 0.11em;
}

.ns .no .nu {
  font-size: 13px;
}

.na .zn a {
  color: #535353;
}

.nf {
  font-size: 12px;
  color: #b4b4b4;
}

.nf .nl a {
  color: #999;
}

.nc {
  color: #b4b4b4;
}

@media (min-width: 941px) {
  .nh.np .nd .nv {
    margin-bottom: 14px;
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .nh.np .nf .nm {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
}

@media (min-width: 768px) {
  .nh.np .nf .f .tsi {
    font-size: 21px;
  }
}

.tc,
.ng,
.ny {
  -webkit-font-smoothing: initial;
}

:root {
  --body-font: Lato, Arial, sans-serif;
  --title-font: Arima Madurai, Palatino, serif;
  --alt-font: Montserrat, Arial, sans-serif;
  --alt-font2: Segoe UI, Lato, Roboto, sans-serif;
  --h-font: Arima Madurai, Palatino, serif;
  --text-h-font: var(--text-font);
  --excerpt-size: 15px;
  --single-content-size: 15px;
  --text-lh: 1.86;
  --post-content-lh: 1.86;
  --title-size-xs: 15px;
  --single-title-size: 29px;
  --large-post-title: 29px;
  --list-post-title: 26px;
  --related-posts-title: 15px;
  --related-posts-2-title: 16px;
  --nav-text-ls: 0.1em;
  --nav-text: 12px;
  --nav-text-weight: 600;
  --nav-color: #535353;
  --blockquote-font: Arima Madurai, Palatino, serif;
  --main-color: #00a5b2;
  --main-color-rgb: 0, 165, 178;
  --text-color: #333;
  --black-color: #333;
  --tags-color: #454545;
  --share-icons-color: #161616;
}

/**
 * Header and Nav
 */
.ag {
  font-family: var(--alt-font);
}

.ag .ay {
  font-family: inherit;
}

.u.pv {
  --topbar-dark-bg: var(--main-color);
}

.u.pv .t.n {
  --topbar-bc: var(--topbar-dark-bg);
  color: #fafafa;
}

.u.pv .ol {
  margin-left: 9px;
}

.u.pv .ol a,
.u.pv .ay,
.u.pv .o {
  color: inherit;
}

.u.pv .o {
  font-size: 15px;
}

.u.pv .ay {
  width: 65px;
  margin-left: 5px;
  font-size: 12px;
  font-weight: 500;
}

.u.pv .f a {
  color: inherit;
}

.n .oc .oh {
  padding-top: 2px;
  background: #fff;
  color: #5e5e5e;
  font-weight: 600;
}

.r {
  font-family: var(--alt-font);
}

.r .nw .nx .tr {
  font-family: var(--ui-font);
  font-size: 15px;
}

.r.oo {
  font-size: 14px;
  line-height: 52px;
  height: 52px;
  border-top-color: #e6e6e6;
  border-bottom-color: #e6e6e6;
}

.r.n {
  --nav-text-weight: 400;
  --nav-drop-active-color: var(--main-color);
  --nav-drop-color: #eee;
}

.r.n .nw .nx .tr {
  color: #eee;
}

.it li a {
  letter-spacing: 0.12em;
}

.pb + .th {
  margin-top: 48px;
}

/**
 * General components and global changes
 */
.k {
  --rmore-btn-pad: 12px 19px;
  border-color: #ddd;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
}

::selection {
  background: rgba(var(--main-color-rgb), 0.2);
}

::-moz-selection {
  background: rgba(var(--main-color-rgb), 0.2);
}

input[type="submit"],
button,
input[type="button"],
.ii {
  font-size: 13px;
  letter-spacing: 0.1em;
}

input,
textarea,
select {
  color: #9c9c9c;
}

blockquote {
  font-size: 21px;
  color: #989898;
}

.nk .n_ {
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.1em;
  color: #161616;
}

.h {
  font-size: 11px;
  font-family: var(--alt-font2);
}

.h .d > a {
  letter-spacing: 0.12em;
}

.h time {
  color: #aaa;
  font-weight: 400;
}

.h time,
.h .b {
  letter-spacing: 0.11em;
}

.w .x {
  margin: 18px 0;
}

.tr,
.x {
  font-weight: 600;
  color: #000;
  line-height: 1.4;
}

.tr a,
.x a {
  color: inherit;
}

.g .x {
  margin: 16px 0;
}

.j {
  --post-meta-mb: 16px;
  --pm-h-below-mb: 20px;
}

.tc,
.ng,
.ny {
  -webkit-font-smoothing: antialiased;
}

.nq .nz a,
.nq .re a {
  letter-spacing: 0.15em;
}

.nq .ia {
  min-width: initial;
  padding: 2px 60px;
  background: #fff;
  font-weight: 800;
  letter-spacing: 0.075em;
}

.nq.lp {
  margin-top: 80px;
}

/**
 * Posts adjustments
 */
.im li {
  margin-right: 12px;
  font-size: 14px;
}

.im a {
  color: #111;
}

.ua {
  color: #555;
}

.ua:before {
  color: var(--main-color);
}

.ua .iv {
  margin-left: 5px;
}

.q .rt {
  margin-bottom: 30px;
}

.q .ra {
  letter-spacing: 0;
}

.ip .rr a {
  padding: 12px 19px;
  border: 1px solid #ddd;
  color: #555;
  background: transparent;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0.1em;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.ip .rr a:hover {
  background: #000;
  color: #fff;
}

.ip .rr a:before {
  display: none;
}

.ip .rr a span {
  padding: 0;
  background: transparent;
}

.ip .tn {
  letter-spacing: 0;
  padding-bottom: 2px;
  border-bottom: 1px solid #ebebeb;
}

.ip .tn .ra a {
  letter-spacing: 0.15em;
}

.ip .tn .iv {
  font-size: 13px;
  font-weight: 400;
}

.ip .tn .f a {
  font-size: 14px;
}

.rn .rr {
  font-weight: 700;
  letter-spacing: 0.1em;
}

.j .w {
  margin-top: 28px;
}

.j .tn {
  margin-top: 34px;
}

.j .ti {
  text-align: center;
}

/* Single Post */
.nr .ni .ri {
  font-weight: 600;
  letter-spacing: 0.12em;
}

.rs .ro a {
  letter-spacing: 0.1em;
  font-weight: 700;
}

.ru .ra > a {
  font-size: 22px;
}

.rf .tr {
  font-family: var(--ui-font);
  font-weight: 600;
}

.rf .h {
  font-size: 10px;
}

/**
 * Home & Archives changes
 */
.rd .n_ {
  font-size: 15px;
}

.gh {
  --block-head-bw: 2px;
  --sep-distance: 10px;
  color: var(--main-color);
  font-size: 21px;
  font-weight: 500;
  text-transform: none;
  letter-spacing: 0;
}

.gh .n_:after {
  width: 36px;
}

.mh {
  font-family: var(--ui-font);
}

.tl {
  margin-top: -15px;
  padding-left: 27px;
  padding-right: 32px;
}

.tl .tc {
  font-size: 14px;
}

.tl .co {
  height: 3.15385em;
  width: 270px;
}

.tl .ii {
  font-size: 13px;
  width: auto;
  padding: 14px 34px;
  vertical-align: top;
}

.tu .cu {
  margin-bottom: 18px;
}

.tu .tr {
  margin-top: 16px;
  margin-bottom: 16px;
}

.tu .h {
  font-size: 10px;
}

.sl .tp {
  font-weight: 400;
}

.sl .rm {
  font-size: 14px;
  letter-spacing: 0;
}

.sf .tr,
.sf .tp {
  font-weight: 600;
  color: #000;
  line-height: 1.4;
}

.th .tp {
  margin-top: 10px;
  margin-bottom: 2px;
  font-weight: 500;
}

.th .tx {
  padding: 8px 11px;
  font-family: var(--alt-font2);
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0.12em;
}

/**
 * Sidebar adjustments
 */
.rg .rb,
.rg .nn,
.sw .rb,
.sw .nn {
  background: #f7f7f7;
}

.rg .rb .ry,
.rg .nn .ry,
.sw .rb .ry,
.sw .nn .ry {
  font-family: var(--ui-font);
  font-weight: 800;
  letter-spacing: 0.075em;
  color: #161616;
}

.tk .tr {
  font-family: var(--ui-font);
  font-size: 15px;
  font-weight: 600;
  line-height: 1.6;
  letter-spacing: 0;
}

.tk .t_.tj .tr {
  font-size: 16px;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
}

.tz .ne .nt,
.nn .nt {
  letter-spacing: 0;
}

.no .rw {
  color: #161616;
  font-weight: 700;
}

/* Footer Changes */
.ns .ry {
  padding-bottom: 9px;
  color: var(--main-color);
  font-family: var(--title-font);
  font-size: 21px;
  font-weight: 500;
  text-transform: none;
}

.ns .tk .h {
  color: #707070;
}

.ns .no .nu {
  font-size: 14px;
}

.nf .nl {
  font-size: 13px;
}

.nf .f {
  letter-spacing: 0.12em;
}

.nh.n .tr,
.nh.n .cc {
  font-weight: 500;
  -webkit-font-smoothing: initial;
}

@media (max-width: 540px) {
  .x {
    font-size: 24px;
  }
}

@media (min-width: 768px) {
  .tl .co {
    margin-right: 15px;
  }
}

@media (min-width: 1201px) {
  .is,
  .io.iu {
    font-size: 32px;
  }
  .z .tr {
    max-width: 90%;
  }
  .j .te {
    --pm-title-a-pad: 5%;
  }
  .tm .tr {
    font-size: 36px;
  }
}
