/**
 * Skin: Fitness
 */
:root {
  --base-aa: initial;
  --black-color: #454545;
  --topbar-height: 48px;
  --nav-text: 11px;
  --nav-items-space: 21px;
  --nav-drop-color: #535353;
  --share-icons-size: 13px;
  --section-head-size: 12px;
  --section-head-ls: 0.04em;
  --post-title-size: 25px;
  --grid-post-title: 23px;
  --list-post-title: 23px;
  --list-post-title-b: 24px;
  --overlay-post-title: 22px;
  --carousel-post-title: 17px;
  --feat-grid-title-l: 31px;
  --feat-grid-title-m: 24px;
  --single-content-size: var(--text-size);
  --post-content-lh: 2;
  --p-media-margin: 33px;
  --w-posts-title-large: 16px;
  --blockquote-font: "Merriweather", Georgia, serif;
}

.t.n {
  --topbar-social-color: rgba(255, 255, 255, 0.75);
}

.r.i {
  --nav-text-ls: 0.035em;
}

.s .o {
  font-size: 13px;
}

.u.a .f {
  margin-top: 0;
}

.u.a .f li {
  font-size: 12px;
}

.u.l {
  --topbar-height: 36px;
}

.u.l .c {
  letter-spacing: 0.075em;
}

.c {
  font-size: 11px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.c a {
  letter-spacing: inherit;
}

.h {
  font-size: 10px;
}

.h .p {
  margin-bottom: 0;
}

.h .d > a {
  letter-spacing: 0.09em;
}

.h .v {
  padding: 0;
}

.h .m {
  font-weight: inherit;
  text-transform: none;
  margin-right: 5px;
}

.g .y,
.g .b,
.g time,
.w .y,
.w .b,
.w time {
  font-weight: 500;
  letter-spacing: 0.075em;
}

.g .x {
  margin: 9px 0;
}

.w .v {
  padding: 0 4px;
}

.k {
  --rmore-btn-ls: 0.12em;
  font-weight: 400;
  color: #777;
}

.j,
.q,
.z {
  --pm-h-below-mb: 25px;
}

.q,
.j {
  --post-meta-mb: 22px;
}

.q .te,
.j .te,
.tt .te {
  --pm-title-a-pad: 0;
}

.j {
  --rmore-btn-pad: 11px 12px;
  --rmore-btn-fs: 10px;
}

.j .w {
  margin-top: 30px;
}

.j .tn {
  margin-top: 38px;
}

.j .g {
  margin-top: 25px;
}

.z {
  --rmore-btn-ls: 0.1em;
}

.z .g {
  --post-meta-mb: 14px;
}

.z .g .tr {
  margin: 11px 0;
}

.z .ti {
  line-height: 1.866;
}

.ts .tr {
  max-width: 80%;
  line-height: 1.25;
}

.ts .g .v {
  padding: 0 4px;
}

.ts .g time {
  letter-spacing: 0.1em;
}

.ta .te {
  --pm-title-pad: 0;
}

.tf .tr {
  font-size: 16px;
}

.tl .tc {
  padding-left: 5px;
  font-size: 13px;
}

.th .tp {
  font-weight: 500;
}

@media (min-width: 768px) {
  .td .tp {
    font-size: 44px;
  }
}

@media (min-width: 768px) {
  .tv .tp {
    font-size: 40px;
  }
}

@media (min-width: 768px) {
  .tm .tr {
    font-size: 33px;
  }
}

@media (max-width: 767px) {
  .tg .ty .tr {
    font-size: calc(var(--feat-grid-title-m) * 0.8);
  }
}

.tb .tw {
  margin-bottom: 18px;
}

.tb .tw .tx {
  display: inline-block;
  background: #fff;
  color: var(--black-800);
  letter-spacing: 0.1em;
}

.tk .tr {
  font-size: 14px;
  line-height: 1.6;
}

.tk .t_.tj .tr {
  line-height: 1.52;
}

.tk .t_.tq .x {
  font-size: 20px;
}

.tz .ne .nt,
.nn .nt {
  font-size: 13px;
}

.nr .ni .tx {
  line-height: 18px;
  letter-spacing: 0.11em;
}

.ns .no .nu {
  font-size: 13px;
}

.na .zn a {
  color: #535353;
}

.nf {
  font-size: 12px;
  color: #b4b4b4;
}

.nf .nl a {
  color: #999;
}

.nc {
  color: #b4b4b4;
}

@media (min-width: 941px) {
  .nh.np .nd .nv {
    margin-bottom: 14px;
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .nh.np .nf .nm {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
}

@media (min-width: 768px) {
  .nh.np .nf .f .tsi {
    font-size: 21px;
  }
}

.tc,
.ng,
.ny {
  -webkit-font-smoothing: initial;
}

:root {
  --body-font: Karla, Arial, sans-serif;
  --ui-font: Renner, Arial, sans-serif;
  --title-font: Renner, Arial, sans-serif;
  --alt-font: Renner, Arial, sans-serif;
  --h-font: Renner, Arial, sans-serif;
  --text-h-font: var(--text-font);
  --text-size: 15px;
  --single-content-size: 16px;
  --post-content-size: 15px;
  --text-lh: 1.7;
  --post-content-lh: 1.75;
  --related-posts-title: 16px;
  --related-posts-2-title: 18px;
  --title-size-xs: 15px;
  --single-title-size: 29px;
  --large-post-title: 29px;
  --list-post-title: 25px;
  --grid-post-title: 25px;
  --nav-text-ls: 0.09em;
  --nav-text: 14px;
  --nav-text-weight: 500;
  --nav-color: #111;
  --nav-drop-text: 12px;
  --nav-drop-color: #3a3a3a;
  --blockquote-font: Lora, Georgia, serif;
  --main-color: #a24034;
  --main-color-rgb: 162, 64, 52;
  --text-color: #202020;
  --black-color: #202020;
  --tags-color: #454545;
  --share-icons-color: #161616;
}

/**
 * Header and Nav
 */
.u.pv .f a {
  color: inherit;
}

.u.pv .ol a,
.u.pv .o {
  color: inherit;
}

.u.pv .ay {
  color: #999;
  font-weight: 400;
}

.s .ay {
  font-size: 12px;
}

.r .nw .nx .tr {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 500;
}

.r.oo {
  line-height: 50px;
  height: 50px;
  border-top-color: transparent;
  border-bottom-color: #e6e6e6;
  box-shadow: 0 3px 5px -3px rgba(0, 0, 0, 0.09);
}

.r.n {
  --nav-text-weight: 400;
  --nav-drop-active-color: var(--main-color);
  --nav-drop-color: #eee;
}

.r.n .nw .nx .tr {
  color: #eee;
}

.it li a {
  letter-spacing: 0.1em;
}

.pb + .th {
  margin-top: 48px;
}

/**
 * General components and global changes
 */
.ip .rr a {
  padding: 12px 18px;
  border-color: transparent;
  color: #fff;
  background: #000;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 0.11em;
  line-height: 1;
  will-change: opacity;
}

.ip .rr a:hover {
  opacity: 0.8;
}

.k {
  --rmore-btn-pad: 12px 18px;
  --rmore-btn-ls: .11em;
  --rmore-btn-fs: 11px;
  border-color: transparent;
  color: #fff;
  background: #000;
  font-weight: 500;
  will-change: opacity;
}

.k:hover {
  background: #000;
  border-color: transparent;
  opacity: .87;
}

::selection {
  background: rgba(var(--main-color-rgb), 0.2);
}

::-moz-selection {
  background: rgba(var(--main-color-rgb), 0.2);
}

input[type="submit"],
button,
input[type="button"],
.ii {
  letter-spacing: 0.075em;
  font-size: 12px;
}

input,
textarea,
select {
  color: #9c9c9c;
}

blockquote {
  font-family: Lora, Georgia, serif;
  font-size: 19px;
  color: #989898;
}

.nk .n_ {
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.075em;
  color: #161616;
}

.h {
  font-size: 11px;
  color: #aaa;
}

.h .m {
  display: none;
}

.h .d > a {
  letter-spacing: 0.075em;
  -webkit-font-smoothing: antialiased;
}

.h time {
  font-weight: 400;
}

.h time,
.h .b,
.h .y {
  letter-spacing: 0.075em;
}

.g {
  --pm-divider-mt: 17px;
}

.g:after {
  border-color: #161616;
  border-width: 2px;
}

.g .d {
  order: 1;
}

.g .v {
  padding: 0 6px;
}

.g .mg {
  order: -1;
}

.g .tr,
.g .x {
  order: 2;
  width: 100%;
}

.j .g,
.q .g {
  justify-content: center;
}

.tr,
.x {
  font-weight: 600;
  color: #000;
  line-height: 1.35;
  -webkit-font-smoothing: antialiased;
}

.tr a,
.x a {
  color: inherit;
}

.x:after {
  display: none;
}

.g .x,
.w .x {
  margin: 16px 0;
}

.tc,
.ny,
.ng {
  letter-spacing: -0.008em;
  -webkit-font-smoothing: antialiased;
}

.op a,
.h .tw .tx {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.04em;
  -webkit-font-smoothing: initial;
}

.nq .nz a,
.nq .re a {
  letter-spacing: 0.15em;
}

.nq .ia {
  min-width: initial;
  padding: 2px 60px;
  background: #fff;
  font-weight: 700;
  letter-spacing: 0.075em;
  -webkit-font-smoothing: initial;
}

.nq.lp {
  margin-top: 80px;
}

/**
 * Posts adjustments
 */
.ip .rr a:before {
  display: none;
}

.ip .rr a span {
  padding: 0;
  background: transparent;
}

.ip .tn {
  letter-spacing: 0;
  padding-bottom: 2px;
  border-bottom: 1px solid #ebebeb;
}

.ip .tn .ra a {
  letter-spacing: 0.15em;
}

.ip .tn .iv {
  font-size: 13px;
  font-weight: 400;
}

.ip .tn .f a {
  font-size: 14px;
}

.rn .rr {
  letter-spacing: 0.1em;
}

.z .ti {
  font-size: 15px;
  line-height: 1.75;
}

.ts .h time {
  letter-spacing: 0.075em;
}

.j {
  --post-meta-mb: 18px;
  --pm-h-below-mb: 20px;
}

.j .ig {
  margin-bottom: 31px;
}

.j .w {
  margin-top: 28px;
}

.j .tn {
  margin-top: 34px;
}

/* Single Post */
.il .tt .tr {
  margin-top: 15px;
  margin-bottom: 15px;
}

.nr .ni .ri {
  font-weight: 600;
  letter-spacing: 0.12em;
}

.ng h1, .ng h2, .ng h3, .ng h4, .ng h5, .ng h6 {
  font-weight: 600;
}

.ti {
  font-size: 15px;
  line-height: 1.75;
}

.rs .ro a {
  letter-spacing: 0.1em;
  font-weight: 700;
}

.ru .ra > a {
  font-size: 22px;
}

.rf .tr {
  font-weight: 500;
  letter-spacing: 0;
}

.rf .h {
  font-size: 10px;
}

/**
 * Home & Archives changes
 */
.rd .n_,
.ar {
  font-weight: 600;
  font-size: 17px;
  letter-spacing: 0.06em;
}

.mh {
  border-top-color: var(--main-color);
  font-size: 12px;
  letter-spacing: 0.075em;
  color: #000;
}

.gh {
  --block-head-bw: 2px;
  --block-head-bc: #000;
  --sep-distance: 12px;
}

.gh .n_:after {
  width: 36px;
}

.tl .tc {
  font-size: 14px;
}

.tu .gh {
  margin-top: -5px;
}

.tu .cu {
  margin-bottom: 18px;
}

.tu .tr {
  margin-top: 12px;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 500;
}

.tu .h {
  font-size: 11px;
}

.sl .tp {
  font-weight: 400;
  letter-spacing: 0;
}

.sl .rm {
  font-size: 14px;
  letter-spacing: 0;
}

.sf .tr,
.sf .tp {
  font-weight: 600;
  color: #000;
  line-height: 1.2;
}

.pk {
  --feat-grid-title-m: 23px;
}

.pk .ty .tr {
  font-weight: 500;
  line-height: 1.2;
}

.pk .tw .tx {
  background: #000;
}

.th .tp {
  margin-top: 10px;
  margin-bottom: 2px;
  font-weight: 500;
}

.th .tx {
  padding: 8px 11px;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0.12em;
}

/**
 * Sidebar adjustments
 */
.tk .tr {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.55;
  letter-spacing: 0;
}

.tk .t_.tj .tr {
  font-size: 17px;
  font-weight: 500;
}

.tz .ne .nt,
.nn .nt {
  color: #161616;
  font-size: 14px;
  letter-spacing: 0;
}

.no .rw {
  color: #161616;
  font-weight: 700;
}

.rx .rk {
  font-size: 12px;
  letter-spacing: 0.07em;
}

.sx a,
.sk a,
.ot a,
.on a,
.or a,
.sj a,
.sz a,
.oe a {
  font-size: 15px;
}

/* Footer Changes */
.ns .ry {
  color: #000;
  font-size: 14px;
  letter-spacing: 0.06em;
}

.ns .tk .h {
  color: #707070;
}

.ns .no .nu {
  font-size: 15px;
}

.nf .nl {
  font-size: 14px;
}

.nf .f {
  letter-spacing: 0.12em;
}

.nf .f .tsi {
  margin-right: 2px;
}

.nh.a .f .rk {
  color: #161616;
  font-size: 12px;
  letter-spacing: 0.075em;
}

@media (max-width: 540px) {
  .x {
    font-size: 24px;
  }
}

@media (min-width: 541px) {
  .tu .tr {
    margin-left: auto;
    margin-right: auto;
    max-width: 88%;
  }
}

@media (min-width: 941px) {
  .il .tt .tr {
    font-size: 30px;
  }
}

@media (min-width: 1201px) {
  .z .tr {
    max-width: 100%;
  }
  .tm .tr {
    font-size: 36px;
  }
}
