/**
 * Skin: Lifestyle
 */
:root {
  --base-aa: initial;
  --black-color: #454545;
  --topbar-height: 48px;
  --nav-text: 11px;
  --nav-items-space: 21px;
  --nav-drop-color: #535353;
  --share-icons-size: 13px;
  --section-head-size: 12px;
  --section-head-ls: 0.04em;
  --post-title-size: 25px;
  --grid-post-title: 23px;
  --list-post-title: 23px;
  --list-post-title-b: 24px;
  --overlay-post-title: 22px;
  --carousel-post-title: 17px;
  --feat-grid-title-l: 31px;
  --feat-grid-title-m: 24px;
  --single-content-size: var(--text-size);
  --post-content-lh: 2;
  --p-media-margin: 33px;
  --w-posts-title-large: 16px;
  --blockquote-font: "Merriweather", Georgia, serif;
}

.t.n {
  --topbar-social-color: rgba(255, 255, 255, 0.75);
}

.r.i {
  --nav-text-ls: 0.035em;
}

.s .o {
  font-size: 13px;
}

.u.a .f {
  margin-top: 0;
}

.u.a .f li {
  font-size: 12px;
}

.u.l {
  --topbar-height: 36px;
}

.u.l .c {
  letter-spacing: 0.075em;
}

.c {
  font-size: 11px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.c a {
  letter-spacing: inherit;
}

.h {
  font-size: 10px;
}

.h .p {
  margin-bottom: 0;
}

.h .d > a {
  letter-spacing: 0.09em;
}

.h .v {
  padding: 0;
}

.h .m {
  font-weight: inherit;
  text-transform: none;
  margin-right: 5px;
}

.g .y,
.g .b,
.g time,
.w .y,
.w .b,
.w time {
  font-weight: 500;
  letter-spacing: 0.075em;
}

.g .x {
  margin: 9px 0;
}

.w .v {
  padding: 0 4px;
}

.k {
  --rmore-btn-ls: 0.12em;
  font-weight: 400;
  color: #777;
}

.j,
.q,
.z {
  --pm-h-below-mb: 25px;
}

.q,
.j {
  --post-meta-mb: 22px;
}

.q .te,
.j .te,
.tt .te {
  --pm-title-a-pad: 0;
}

.j {
  --rmore-btn-pad: 11px 12px;
  --rmore-btn-fs: 10px;
}

.j .w {
  margin-top: 30px;
}

.j .tn {
  margin-top: 38px;
}

.j .g {
  margin-top: 25px;
}

.z {
  --rmore-btn-ls: 0.1em;
}

.z .g {
  --post-meta-mb: 14px;
}

.z .g .tr {
  margin: 11px 0;
}

.z .ti {
  line-height: 1.866;
}

.ts .tr {
  max-width: 80%;
  line-height: 1.25;
}

.ts .g .v {
  padding: 0 4px;
}

.ts .g time {
  letter-spacing: 0.1em;
}

.ta .te {
  --pm-title-pad: 0;
}

.tf .tr {
  font-size: 16px;
}

.tl .tc {
  padding-left: 5px;
  font-size: 13px;
}

.th .tp {
  font-weight: 500;
}

@media (min-width: 768px) {
  .td .tp {
    font-size: 44px;
  }
}

@media (min-width: 768px) {
  .tv .tp {
    font-size: 40px;
  }
}

@media (min-width: 768px) {
  .tm .tr {
    font-size: 33px;
  }
}

@media (max-width: 767px) {
  .tg .ty .tr {
    font-size: calc(var(--feat-grid-title-m) * 0.8);
  }
}

.tb .tw {
  margin-bottom: 18px;
}

.tb .tw .tx {
  display: inline-block;
  background: #fff;
  color: var(--black-800);
  letter-spacing: 0.1em;
}

.tk .tr {
  font-size: 14px;
  line-height: 1.6;
}

.tk .t_.tj .tr {
  line-height: 1.52;
}

.tk .t_.tq .x {
  font-size: 20px;
}

.tz .ne .nt,
.nn .nt {
  font-size: 13px;
}

.nr .ni .tx {
  line-height: 18px;
  letter-spacing: 0.11em;
}

.ns .no .nu {
  font-size: 13px;
}

.na .zn a {
  color: #535353;
}

.nf {
  font-size: 12px;
  color: #b4b4b4;
}

.nf .nl a {
  color: #999;
}

.nc {
  color: #b4b4b4;
}

@media (min-width: 941px) {
  .nh.np .nd .nv {
    margin-bottom: 14px;
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .nh.np .nf .nm {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
}

@media (min-width: 768px) {
  .nh.np .nf .f .tsi {
    font-size: 21px;
  }
}

.tc,
.ng,
.ny {
  -webkit-font-smoothing: initial;
}

:root {
  --body-font: Nunito Sans, system-ui, sans-serif;
  --base-aa: antialiased;
  --title-font: HK Grotesk, system-ui, sans-serif;
  --alt-font: HK Grotesk, system-ui, sans-serif;
  --text-h-font: var(--title-font);
  --text-size: 15px;
  --single-content-size: 17px;
  --post-content-size: 15px;
  --text-lh: 1.7;
  --post-content-lh: 1.71;
  --title-size-xs: 15px;
  --single-title-size: 27px;
  --large-post-title: 27px;
  --grid-post-title: 22px;
  --list-post-title: 22px;
  --list-post-title-b: 22px;
  --related-posts-title: 17px;
  --related-posts-2-title: 19px;
  --title-size-xs: 15px;
  --nav-text-ls: 0.05em;
  --nav-text: 13px;
  --nav-text-weight: 600;
  --nav-drop-color: #414141;
  --nav-drop-text: 12px;
  --nav-drop-ls: 0.09em;
  --blockquote-font: "IBM Plex Serif", Georgia, serif;
  --main-color: #e84d15;
  --main-color-rgb: 232, 77, 21;
  --text-color: #292929;
  --black-color: #292929;
  --tags-color: #454545;
  --share-icons-color: #161616;
}

/**
 * General components and global changes
 */
::selection {
  background: rgba(var(--main-color-rgb), 0.2);
}

::-moz-selection {
  background: rgba(var(--main-color-rgb), 0.2);
}

.gl, .ip .rr a {
  padding: 0;
  padding-bottom: 4px;
  border: 0;
  background: transparent;
  text-transform: none;
  font-family: var(--alt-font);
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 1.1;
  color: #000;
  border-bottom: 1px solid var(--main-color);
}

.gl:hover, .ip .rr a:hover {
  background: inherit;
  border-color: #000;
  color: inherit;
  opacity: 0.8;
}

input[type="submit"],
button,
input[type="button"],
.ii {
  font-family: var(--alt-font);
  font-size: 12px;
  letter-spacing: 0.05em;
}

input,
textarea,
select {
  color: #9c9c9c;
  font-size: 14px;
}

.is,
.io.iu {
  color: #000;
}

.ud {
  color: #000;
}

blockquote {
  font-size: 21px;
  font-weight: 500;
  font-style: normal;
}

h1 {
  font-size: 29px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 22px;
}

.nk .n_ {
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #161616;
}

.h {
  font-size: 12px;
  font-family: var(--alt-font);
  font-weight: 500;
}

.h .d > a {
  font-weight: 600;
  letter-spacing: 0.05em;
}

.h time {
  color: #aaa;
}

.h time,
.h .b,
.h .y {
  font-weight: inherit;
  letter-spacing: 0.05em;
}

.g,
.qb {
  margin-left: auto;
  margin-right: auto;
}

.w .mg,
.w .b {
  color: #505050;
}

.w .x {
  margin: 17px auto;
}

.w .v {
  padding: 0 2px;
}

.tr,
.x {
  font-weight: 700;
  color: #000;
  line-height: 1.3;
}

.tr a,
.x a {
  color: inherit;
}

.x {
  line-height: 1.285;
}

.ym:after {
  width: 30px;
}

.g .x {
  margin: 16px 0;
}

.j,
.q {
  --post-meta-mb: 16px;
  --pm-h-below-mb: 20px;
}

.q,
.il .ih {
  --pm-h-below-mb: 32px;
}

.nq .nz a,
.nq .re a {
  letter-spacing: 0.15em;
}

.nq .ia {
  font-family: var(--alt-font);
  min-width: initial;
  padding: 0 40px;
  border-color: var(--main-color);
  background: var(--main-color);
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 45px;
  letter-spacing: 0.075em;
}

.nq .ia:hover {
  opacity: 0.9;
}

.nq .ia .tsi:not(.lc) {
  display: none;
}

/**
 * Header and Nav
 */
.r {
  font-family: var(--alt-font);
}

.r .nb > li li a {
  font-weight: 500;
}

.r .nw .nx .tr {
  margin-bottom: 9px;
  font-size: 15px;
  font-weight: 600;
}

.r.i {
  --nav-text: 14px;
  --nav-text-weight: 700;
  --nav-drop-text: 15px;
}

.r.i .nb > li li a {
  font-weight: 600;
}

.u.r_ {
  --nav-text: 14px;
  --nav-drop-text: 13px;
}

.u.r_ .nb > li > a {
  font-weight: 600;
}

.r.rj {
  --nav-text: 17px;
}

.t.n {
  --topbar-bc: var(--main-color);
  --topbar-dark-bg: var(--main-color);
  color: #fafafa;
}

.t.n .ol a,
.t.n .ay,
.t.n .o,
.t.n .f a {
  color: inherit;
}

.t.n .c a {
  color: #f1f1f1;
}

.t.n .c .tp {
  font-weight: 700;
}

.s .ay {
  width: 65px;
}

.u.l {
  --topbar-height: 38px;
}

.u.l .c {
  text-transform: none;
  letter-spacing: 0;
}

.u.l .c .tp {
  padding: 0 12px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.075em;
  line-height: inherit;
}

.u.l .c a {
  font-family: var(--title-font);
  font-size: 13px;
  font-weight: 500;
}

.u.l .n .c .tp {
  background: #fff;
  color: var(--main-color);
}

.u.l .n .c a {
  color: #fff;
}

.it li a {
  letter-spacing: 0.12em;
}

.dn.dr {
  margin-bottom: 32px;
  padding: 32px 0;
}

/**
 * Posts adjustments
 */
.ld .j {
  margin-bottom: 50px;
}

.q .te,
.tt .te {
  --pm-title-a-pad: 5%;
}

.q .rt .dy,
.q .rt .ll {
  margin-bottom: 30px;
}

.q .ra {
  letter-spacing: 0;
}

.ip .rr a:hover {
  background: #000;
  color: #fff;
}

.ip .rr a:before {
  display: none;
}

.ip .rr a span {
  padding: 0;
  background: transparent;
}

.ip .tn {
  letter-spacing: 0;
  padding-bottom: 2px;
  border-bottom: 1px solid #ebebeb;
}

.ip .tn .ra a {
  letter-spacing: 0.15em;
}

.ip .tn .iv {
  font-size: 13px;
  font-weight: 400;
}

.ip .tn .f a {
  font-size: 14px;
}

.rn {
  margin-top: 45px;
}

.rn .rr {
  font-weight: 700;
  letter-spacing: 0.1em;
}

.ld.go + .nq .ia {
  width: 100%;
  box-sizing: border-box;
}

.z .ti {
  line-height: 1.7;
}

.z .gl {
  margin-top: 11px;
}

.ts .tr {
  max-width: 100%;
  line-height: 1.3;
}

.j .w {
  margin-top: 26px;
}

.fe .ca,
.lb .j .ca {
  position: relative;
}

.fe .w,
.lb .j .w {
  margin-bottom: 20px;
}

.fe .w .x:after,
.lb .j .w .x:after {
  content: "";
  display: block;
  margin: 0 auto;
  margin-top: 14px;
  width: 36px;
  border-bottom: 1px solid var(--main-color);
}

.fe .w .m,
.lb .j .w .m {
  display: none;
}

.fe .w .d,
.lb .j .w .d {
  position: absolute;
  width: 100%;
  top: 0;
  transform: translateY(-100%) translateY(-25px);
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.fe .w .tx,
.lb .j .w .tx {
  padding: 0 9px;
  padding-top: 2px;
  background: #fff;
  line-height: 25px;
  font-size: 12px;
  pointer-events: auto;
}

.fe .w .tx:hover,
.lb .j .w .tx:hover {
  opacity: 1;
}

.sa .tr {
  font-family: var(--alt-font);
}

.lb .oi,
.lb .ng {
  text-align: center;
}

.lb .j .h {
  text-align: center;
}

.lb .lw {
  margin-bottom: -38px;
}

.lb .sa {
  margin-bottom: 38px;
}

.lb .sa .dy {
  margin-bottom: 22px;
}

.lb .sa .tr {
  font-size: 17px;
  font-weight: 700;
  line-height: 1.35;
}

.lb .sa .h {
  display: none;
}

/**
 * Single Post 
 */
.nr .ni .ri {
  font-weight: 500;
  letter-spacing: 0.14em;
}

.ib .rt .h {
  font-size: 13px;
}

.iw .ix .tr {
  font-size: calc(0.82353vw + 24.11765px);
  -webkit-text-stroke: 0.3px #444;
}

.iw .ix .sh {
  margin-bottom: 19px;
}

.iw .h time {
  font-weight: 600;
}

.iw .op a {
  font-family: var(--alt-font);
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.05em;
  line-height: 23px;
}

.tt .tr,
.tt .x {
  font-size: 31px;
}

.ab .aw {
  font-weight: 600;
}

.ng h1, .ng h2, .ng h3, .ng h4, .ng h5, .ng h6 {
  font-weight: 700;
}

.ng .lq figcaption,
.ng .lj,
.ng figcaption {
  font-size: 14px;
  font-style: normal;
  color: #888;
}

.lz {
  color: #3b3b3b;
}

.lz p {
  margin-bottom: 1.65em;
}

.rs .ro a {
  letter-spacing: 0.075em;
  font-weight: 700;
}

.ru .ra > a {
  font-family: var(--alt-font);
  font-size: 22px;
}

.rf .tr {
  margin-bottom: 12px;
  font-weight: 600;
  letter-spacing: 0;
}

.rf .h {
  font-size: 11px;
}

.rf.ij .tr {
  margin-bottom: 12px;
  font-weight: 700;
}

.aj .tr {
  margin-bottom: 8px;
  font-family: inherit;
  line-height: 1.3;
  font-weight: 600;
}

.rl .rc {
  font-family: var(--alt-font);
  font-size: 17px;
}

.rl .vb {
  font-family: var(--alt-font);
}

.rl .rp {
  color: #a0a0a0;
  font-size: 11px;
}

.rl .rh {
  margin-top: 9px;
}

.ax .ak {
  font-weight: 600;
  letter-spacing: 0.075em;
}

/**
 * Home & Archives changes
 */
.tl {
  margin-top: -15px;
  padding-left: 27px;
  padding-right: 32px;
}

.tl .tc {
  font-size: 14px;
}

.tl .co {
  height: 3.15385em;
  width: 270px;
}

.tl .ii {
  width: auto;
  padding: 15px 34px;
  background: #000;
}

.rd {
  margin-top: 0;
  margin-bottom: 55px;
}

.rd .n_ {
  background: transparent;
  font-size: 24px;
  font-weight: 800;
  letter-spacing: 0;
}

.rd .n_:before,
.rd .n_:after {
  display: none;
}

.rd:before {
  display: none;
}

.rd:after {
  top: 100%;
  left: 50%;
  margin-top: 12px;
  margin-left: -18px;
  width: 30px;
  height: 1px;
  background: #000;
}

.tu .cu {
  margin-bottom: 18px;
}

.tu .tr {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 20px;
}

.tu .h {
  font-size: 10px;
}

.sc .n_ {
  font-weight: 700;
}

.sl .tp {
  font-weight: 700;
  color: #000;
  line-height: 1.2;
}

.sl .rm {
  font-size: 14px;
  letter-spacing: 0;
}

.qf .tp {
  font-size: 24px;
  margin-bottom: 8px;
}

.sf .tr,
.sf .tp {
  font-weight: 700;
  color: #000;
  line-height: 1.3;
}

.sf .tx {
  font-family: var(--alt-font);
  font-weight: 700;
  letter-spacing: 0.05em;
}

.tm .tr {
  margin-top: 18px;
  margin-bottom: 18px;
}

.th .tp {
  font-size: 21px;
}

/**
 * Sidebar adjustments
 */
.mh {
  border-color: var(--main-color);
  font-weight: 700;
}

.rg .rb,
.rg .nn,
.sw .rb,
.sw .nn {
  padding: 30px;
}

.rx .rk {
  padding: 8px 18px;
  font-weight: 500;
  font-size: 11px;
  color: #161616;
  letter-spacing: 0.15em;
}

.cr > .rx {
  padding-bottom: 35px;
  border-bottom: 1px solid #efefef;
  margin-bottom: 70px;
}

.rb .nt,
.nn .nt {
  letter-spacing: 0;
  font-size: 14px;
}

.rb p:last-of-type,
.nn p:last-of-type {
  margin-top: -17px;
}

.tk .tr {
  font-family: var(--alt-font);
  font-size: 15px;
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: 0;
}

.tk .t_.tj .tr {
  font-size: 17px;
  line-height: 1.36;
}

/* Footer Changes */
.ns .ry {
  margin-bottom: 42px;
  color: #222;
  font-size: 16px;
  font-weight: 700;
}

.ns .tk .h {
  color: #707070;
}

.ns .no .nu {
  font-size: 14px;
}

.nf .nl {
  font-size: 14px;
}

.nf .f {
  letter-spacing: 0.12em;
}

.nh.cl .nl a {
  color: var(--main-color);
}

.nh.n {
  background: #020202;
}

.nh.n .ry {
  font-weight: 800;
}

.nh.n .nl {
  font-weight: 500;
}

.nh.n .nj {
  color: inherit;
}

.nh.np .nd .nv {
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.075em;
}

@media (max-width: 767px) {
  .q .te,
  .tt .te {
    --pm-title-a-pad: 0;
  }
  .iw .ix .sh {
    font-size: 16px;
    line-height: 1.5;
  }
}

@media (max-width: 540px) {
  .x {
    font-size: 24px;
  }
}

@media (min-width: 768px) {
  .u.l .c {
    display: inline-flex;
  }
  .tl .co {
    margin-right: 15px;
  }
  .tm .ni {
    max-width: 645px;
  }
  .th .tp {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 941px) {
  .fe .x,
  .fe .ti,
  .lb .j .x,
  .lb .j .ti {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  .fe .ti,
  .lb .j .ti {
    max-width: 85%;
  }
  .iy .tr {
    margin-top: 18px;
    margin-bottom: 18px;
    font-size: 30px;
  }
  .lb .sa .tr {
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1201px) {
  .is,
  .io.iu {
    font-size: 27px;
  }
  .nr .ni .tr {
    font-size: 36px;
  }
  .iw .ix .tr {
    max-width: 80%;
    font-size: 37px;
  }
  .tm .tr {
    font-size: 29px;
  }
}
