/**
 * Font: Renner
 */
@font-face {
	font-family: 'Renner';
	src: url('renner/renner-book-webfont.woff2') format('woff2'),
         url('renner/renner-book-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Renner';
	src: url('renner/renner-medium-webfont.woff2') format('woff2'),
         url('renner/renner-medium-webfont.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Renner';
	src: url('renner/renner-bold-webfont.woff2') format('woff2'),
         url('renner/renner-bold-webfont.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Renner';
	src: url('renner/renner-black-webfont.woff2') format('woff2'),
         url('renner/renner-black-webfont.woff') format('woff');
	font-weight: 800;
	font-style: normal;
}
