//
// Slider control
//
.bunyad-cz-slider {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;

	.dashicon {
		flex-shrink: 0;
		margin-right: 10px;
	}

	&-track {
		margin-left: 0;
		flex: 1;
	}

	input[type="number"] {
		display: inline-block;
		margin-left: 8px;
		font-size: 12px;
		font-weight: 500;
		width: 55px;
		padding: 3px 4px;
		height: 27px;
	}

	.metric {
		background: #efefef;
		height: 100%;
		display: block;
		line-height: 26px;
		padding: 0 5px;
		font-size: 9px;
		border: 1px solid #ddd;
		border-lefT: 0;
		text-transform: uppercase;
		font-weight: bold;
	}
}

@mixin button-style__focus-active() {
	background-color: #fff;
	color: #191e23;
	box-shadow: inset 0 0 0 1px #6c7781, inset 0 0 0 2px #fff;

	// Windows High Contrast mode will show this outline, but not the box-shadow.
	outline: 2px solid transparent;
	outline-offset: -2px;
}

// creating mixin because we can't do multiline variables, and we can't comma-group the selectors for styling the range slider
@mixin range-thumb() {
	height: 18px;
	width: 18px;
	border-radius: 50%;
	cursor: pointer;
	background: #555d66;
	border: 4px solid transparent;
	background-clip: padding-box;
	box-sizing: border-box;
}

@mixin range-track() {
	height: 3px;
	cursor: pointer;
	background: #e2e4e7;
	border-radius: 1.5px;
}

.bunyad-cz-slider-track {
	width: 100%;
	margin-left: 8px;
	padding: 0;
	-webkit-appearance: none;
	background: transparent;

	/**
 	 * Thumb
 	 */

	// webkit
	&::-webkit-slider-thumb {
		-webkit-appearance: none;
		@include range-thumb();
		margin-top: -7px;	// necessary for chrome
	}

	// moz
	&::-moz-range-thumb {
		@include range-thumb();
	}

	// ie
	&::-ms-thumb {
		@include range-thumb();
		margin-top: 0;	// necessary because edge inherits from chrome
		height: 14px;
		width: 14px;
		border: 2px solid transparent;
	}

	&:focus {
		outline: none;
	}

	// webkit
	&:focus::-webkit-slider-thumb {
		@include button-style__focus-active;
	}

	// moz
	&:focus::-moz-range-thumb {
		@include button-style__focus-active;
	}

	// ie
	&:focus::-ms-thumb {
		@include button-style__focus-active;
	}

	/**
 	 * Track
 	 */

	// webkit
	&::-webkit-slider-runnable-track {
		@include range-track();
		margin-top: -4px;
	}

	// moz
	&::-moz-range-track {
		@include range-track();
	}

	// ie
	&::-ms-track {
		margin-top: -4px;
		background: transparent;
		border-color: transparent;
		color: transparent;
		@include range-track();
	}
}