//
// Radio Control
//
.customize-control-bunyad-radio,
.customize-control-bunyad-radio-image {
	padding-bottom: 0;
	
	.customize-control-title {
		margin-bottom: 0;
	}

	.customize-control-title + .customize-control-description {
		margin-top: 7px;
	}

	input {
		margin-right: 4px;
    	margin-left: -24px;
	}

	label {
		color: #111213;
		vertical-align: top;
	}
}

.customize-control-bunyad-radio-image {
	.customize-control-content {
		display: grid;
	}
	
	input {
		position: absolute;
		z-index: -1;
		opacity: 0;
	}

	.customize-inside-control-row {
		display: flex;
    	flex-wrap: wrap;
		margin: 0;
		padding: 0;
		padding-top: 8px;
	}

	label img {
		display: block;
	}

	input:checked + label img {
		box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.25);
		border: 1px solid #000;
	}

	.label-text {
		display: block;
		padding: 2px 8px;
		font-size: 11px;
		background: #000;
		border-top: 1px solid #444;
		color: #fff;
		text-align: center;
	}
}