//
// Dimensions Control
//
.bunyad-cz-dimensions {
	&-inputs {
		display: flex;

		input[type] {
			margin-bottom: 3px;
			height: 30px;
			border-radius: 1px;

			&:focus {
				border-color: #ddd;
				box-shadow: inset 0 0 0 1px #5b9dd9;
			}
		}

		button {
			&:focus {
				outline: none;
				box-shadow: inset 0 0 0 1px #5b9dd9;
			}
		}

		label + label {
			margin-left: -1px
		}

		label {
			text-align: center;
			font-size: 11px !important;
			color: #444;
		}
	}

	&-linked {
		height: 30px;
		display: flex;
		align-items: center;
    	margin-left: -1px;
		border-radius: 2px;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		border: 1px solid #ddd;
		border-color: #7e8993;
		cursor: pointer;
		color: #444;

		.icon {
			font-size: 16px;
			width: 42px;
			height: auto;
		}

		.active-icon {
			display: none;
		}

		&.active {
			background: #f0f0f1;

			.icon {
				display: none;
			}

			.active-icon {
				display: block;
			}
		}
	}

	label:first-child > [type=number] {
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px;
	}

	&-unit {
		input[type] {
			width: 32px;
			margin-left: -1px;
			text-transform: uppercase;
			text-align: center;
			font-size: 11px;
			font-weight: 500;

			border-top-right-radius: 4px;
			border-bottom-right-radius: 4px;
		}
	}
}