/**
 * Change Main Color
 */
:root {
  --base-aa: initial;
  --black-color: #454545;
  --topbar-height: 48px;
  --nav-text: 11px;
  --nav-items-space: 21px;
  --nav-drop-color: #535353;
  --share-icons-size: 13px;
  --section-head-size: 12px;
  --section-head-ls: 0.04em;
  --post-title-size: 25px;
  --grid-post-title: 23px;
  --list-post-title: 23px;
  --list-post-title-b: 24px;
  --overlay-post-title: 22px;
  --carousel-post-title: 17px;
  --feat-grid-title-l: 31px;
  --feat-grid-title-m: 24px;
  --single-content-size: var(--text-size);
  --post-content-lh: 2;
  --p-media-margin: 33px;
  --w-posts-title-large: 16px;
  --blockquote-font: "Merriweather", Georgia, serif;
}

:root {
  --body-font: Lato, Arial, sans-serif;
  --title-font: Arima Madurai, Palatino, serif;
  --alt-font: Montserrat, Arial, sans-serif;
  --alt-font2: Segoe UI, Lato, Roboto, sans-serif;
  --h-font: Arima Madurai, Palatino, serif;
  --text-h-font: var(--text-font);
  --excerpt-size: 15px;
  --single-content-size: 15px;
  --text-lh: 1.86;
  --post-content-lh: 1.86;
  --title-size-xs: 15px;
  --single-title-size: 29px;
  --large-post-title: 29px;
  --list-post-title: 26px;
  --related-posts-title: 15px;
  --related-posts-2-title: 16px;
  --nav-text-ls: 0.1em;
  --nav-text: 12px;
  --nav-text-weight: 600;
  --nav-color: #535353;
  --blockquote-font: Arima Madurai, Palatino, serif;
  --main-color: #00a5b2;
  --main-color-rgb: 0, 165, 178;
  --text-color: #333;
  --black-color: #333;
  --tags-color: #454545;
  --share-icons-color: #161616;
}

.editor-styles-wrapper,
.block-editor-block-list__layout {
  -webkit-font-smoothing: initial;
  -webkit-font-smoothing: antialiased;
}

.editor-styles-wrapper blockquote,
.block-editor-block-list__layout blockquote {
  color: #555;
}

@media (min-width: 1201px), (-mqpacker: on) {
  .editor-styles-wrapper .modern-quote,
  .editor-styles-wrapper .wp-block-quote.is-style-large,
  .block-editor-block-list__layout .modern-quote,
  .block-editor-block-list__layout .wp-block-quote.is-style-large {
    font-size: 32px;
  }
}

.editor-styles-wrapper blockquote,
.block-editor-block-list__layout blockquote {
  font-size: 21px;
  color: #989898;
}

.editor-styles-wrapper p,
.block-editor-block-list__layout p {
  font-size: inherit;
  line-height: inherit;
}

.main-pagination.number,
.widget_calendar tfoot a {
  text-transform: none;
}
