/**
 * Change Main Color
 */
:root {
  --base-aa: initial;
  --black-color: #454545;
  --topbar-height: 48px;
  --nav-text: 11px;
  --nav-items-space: 21px;
  --nav-drop-color: #535353;
  --share-icons-size: 13px;
  --section-head-size: 12px;
  --section-head-ls: 0.04em;
  --post-title-size: 25px;
  --grid-post-title: 23px;
  --list-post-title: 23px;
  --list-post-title-b: 24px;
  --overlay-post-title: 22px;
  --carousel-post-title: 17px;
  --feat-grid-title-l: 31px;
  --feat-grid-title-m: 24px;
  --single-content-size: var(--text-size);
  --post-content-lh: 2;
  --p-media-margin: 33px;
  --w-posts-title-large: 16px;
  --blockquote-font: "Merriweather", Georgia, serif;
}

:root {
  --body-font: Lato, Arial, sans-serif;
  --ui-font: Open Sans, Arial, sans-serif;
  --title-font: Open Sans, Arial, sans-serif;
  --alt-font: var(--ui-font);
  --h-font: Open Sans, Arial, sans-serif;
  --text-size: 15px;
  --excerpt-size: 16px;
  --single-content-size: 16px;
  --post-content-size: 16px;
  --post-content-lh: 1.8125;
  --related-posts-title: 14px;
  --related-posts-2-title: 16px;
  --single-title-size: 29px;
  --large-post-title: 29px;
  --grid-post-title: 20px;
  --list-post-title: 21px;
  --topbar-dark-bg: #000;
  --nav-text-ls: 0.035em;
  --nav-text: 12px;
  --nav-text-weight: 700;
  --nav-drop-color: #313131;
  --blockquote-font: Lora, Georgia, serif;
  --main-color: #ec0e0e;
  --main-color-rgb: 236, 14, 14;
  --text-color: #616161;
}

.editor-styles-wrapper,
.block-editor-block-list__layout {
  -webkit-font-smoothing: initial;
}

.editor-styles-wrapper blockquote,
.block-editor-block-list__layout blockquote {
  color: #555;
}

.editor-styles-wrapper blockquote,
.block-editor-block-list__layout blockquote {
  font-size: 17px;
  color: #989898;
}

.editor-styles-wrapper h1, .editor-styles-wrapper h2, .editor-styles-wrapper h3, .editor-styles-wrapper h4, .editor-styles-wrapper h5, .editor-styles-wrapper h6,
.block-editor-block-list__layout h1,
.block-editor-block-list__layout h2,
.block-editor-block-list__layout h3,
.block-editor-block-list__layout h4,
.block-editor-block-list__layout h5,
.block-editor-block-list__layout h6 {
  font-weight: 700;
  letter-spacing: -0.01em;
  color: #000;
}

.editor-styles-wrapper p,
.block-editor-block-list__layout p {
  font-size: inherit;
  line-height: inherit;
}

.main-pagination.number,
.widget_calendar tfoot a {
  text-transform: none;
}
