/**
 * Change Main Color
 */
:root {
  --base-aa: initial;
  --black-color: #454545;
  --topbar-height: 48px;
  --nav-text: 11px;
  --nav-items-space: 21px;
  --nav-drop-color: #535353;
  --share-icons-size: 13px;
  --section-head-size: 12px;
  --section-head-ls: 0.04em;
  --post-title-size: 25px;
  --grid-post-title: 23px;
  --list-post-title: 23px;
  --list-post-title-b: 24px;
  --overlay-post-title: 22px;
  --carousel-post-title: 17px;
  --feat-grid-title-l: 31px;
  --feat-grid-title-m: 24px;
  --single-content-size: var(--text-size);
  --post-content-lh: 2;
  --p-media-margin: 33px;
  --w-posts-title-large: 16px;
  --blockquote-font: "Merriweather", Georgia, serif;
}

:root {
  --body-font: Lato, Arial, sans-serif;
  --title-font: Trueno, Arial, sans-serif;
  --alt-font: Noto Sans, Arial, sans-serif;
  --text-size: 13px;
  --excerpt-size: 14px;
  --single-content-size: 14px;
  --single-title-size: 34px;
  --large-post-title: 34px;
  --related-posts-title: 15px;
  --topbar-dark-bg: #000;
  --nav-text-ls: 0.12em;
  --nav-text-weight: 600;
  --nav-items-space: 19px;
  --nav-drop-text: 11px;
  --nav-drop-ls: 0.1em;
  --main-color: #c0a88a;
  --main-color-rgb: 192, 168, 138;
  --text-color: #161616;
  --black-color: #161616;
  --tags-color: #333;
}

.editor-styles-wrapper,
.block-editor-block-list__layout {
  -webkit-font-smoothing: initial;
  --text-font: var(--alt-font);
}

.editor-styles-wrapper blockquote,
.block-editor-block-list__layout blockquote {
  color: #555;
}

.editor-styles-wrapper blockquote,
.block-editor-block-list__layout blockquote {
  font-family: Lora, Georgia, serif;
  font-size: 17px;
  color: #989898;
}

.editor-styles-wrapper .read-more-btn,
.block-editor-block-list__layout .read-more-btn {
  --rmore-btn-pad: 13px 19px;
  border: 2px solid #161616;
  color: #161616;
  background: transparent;
}

.editor-styles-wrapper h1, .editor-styles-wrapper h2, .editor-styles-wrapper h3, .editor-styles-wrapper h4, .editor-styles-wrapper h5, .editor-styles-wrapper h6,
.block-editor-block-list__layout h1,
.block-editor-block-list__layout h2,
.block-editor-block-list__layout h3,
.block-editor-block-list__layout h4,
.block-editor-block-list__layout h5,
.block-editor-block-list__layout h6 {
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
}

.editor-styles-wrapper p,
.block-editor-block-list__layout p {
  font-size: inherit;
  line-height: inherit;
}

.main-pagination.number,
.widget_calendar tfoot a {
  text-transform: none;
}
