/**
 * Change Main Color
 */
:root {
  --base-aa: initial;
  --black-color: #454545;
  --topbar-height: 48px;
  --nav-text: 11px;
  --nav-items-space: 21px;
  --nav-drop-color: #535353;
  --share-icons-size: 13px;
  --section-head-size: 12px;
  --section-head-ls: 0.04em;
  --post-title-size: 25px;
  --grid-post-title: 23px;
  --list-post-title: 23px;
  --list-post-title-b: 24px;
  --overlay-post-title: 22px;
  --carousel-post-title: 17px;
  --feat-grid-title-l: 31px;
  --feat-grid-title-m: 24px;
  --single-content-size: var(--text-size);
  --post-content-lh: 2;
  --p-media-margin: 33px;
  --w-posts-title-large: 16px;
  --blockquote-font: "Merriweather", Georgia, serif;
}

:root {
  --body-font: Open Sans, sans-serif;
  --title-font: soleil, Raleway, sans-serif;
  --alt-font: soleil, Raleway, sans-serif;
  --h-font: soleil, Raleway, sans-serif;
  --text-size: 15px;
  --single-content-size: 15px;
  --post-content-lh: 1.73;
  --large-post-title: 40px;
  --grid-post-title: 22px;
  --single-title-size: 42px;
  --related-posts-title: 16px;
  --related-posts-2-title: 17px;
  --topbar-dark-bg: #000;
  --nav-color: #111;
  --nav-text-ls: 0.06em;
  --nav-text: 13px;
  --nav-text-weight: 700;
  --nav-drop-color: #313131;
  --nav-drop-text: 12px;
  --nav-drop-ls: 0.06em;
  --blockquote-font: Lora, Georgia, serif;
  --main-color: #08528b;
  --main-color-rgb: 8, 82, 139;
}

.editor-styles-wrapper,
.block-editor-block-list__layout {
  -webkit-font-smoothing: initial;
  -webkit-font-smoothing: antialiased;
}

.editor-styles-wrapper blockquote,
.block-editor-block-list__layout blockquote {
  color: #555;
}

.editor-styles-wrapper .button:hover,
.block-editor-block-list__layout .button:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.07);
  transform: translateY(-1px);
}

.editor-styles-wrapper h1, .editor-styles-wrapper h2, .editor-styles-wrapper h3, .editor-styles-wrapper h4, .editor-styles-wrapper h5, .editor-styles-wrapper h6,
.block-editor-block-list__layout h1,
.block-editor-block-list__layout h2,
.block-editor-block-list__layout h3,
.block-editor-block-list__layout h4,
.block-editor-block-list__layout h5,
.block-editor-block-list__layout h6 {
  font-weight: 700;
  letter-spacing: -0.015em;
  color: #000;
  -webkit-font-smoothing: antialiased;
}

.editor-styles-wrapper h1,
.block-editor-block-list__layout h1 {
  font-size: 29px;
}

.editor-styles-wrapper h2,
.block-editor-block-list__layout h2 {
  font-size: 26px;
}

.editor-styles-wrapper h3,
.block-editor-block-list__layout h3 {
  font-size: 22px;
}

.editor-styles-wrapper blockquote,
.block-editor-block-list__layout blockquote {
  font-size: 17px;
  color: #989898;
}

.editor-styles-wrapper .modern-quote:before,
.editor-styles-wrapper .wp-block-quote.is-style-large:before,
.block-editor-block-list__layout .modern-quote:before,
.block-editor-block-list__layout .wp-block-quote.is-style-large:before {
  color: #f6f6f6;
}

.editor-styles-wrapper h1, .editor-styles-wrapper h2, .editor-styles-wrapper h3, .editor-styles-wrapper h4, .editor-styles-wrapper h5, .editor-styles-wrapper h6,
.block-editor-block-list__layout h1,
.block-editor-block-list__layout h2,
.block-editor-block-list__layout h3,
.block-editor-block-list__layout h4,
.block-editor-block-list__layout h5,
.block-editor-block-list__layout h6 {
  letter-spacing: -0.02em;
  font-weight: 700;
}

.editor-styles-wrapper h1, .editor-styles-wrapper h2, .editor-styles-wrapper h4,
.block-editor-block-list__layout h1,
.block-editor-block-list__layout h2,
.block-editor-block-list__layout h4 {
  margin-bottom: 0.86em;
}

.editor-styles-wrapper p,
.block-editor-block-list__layout p {
  font-size: inherit;
  line-height: inherit;
}

.main-pagination.number,
.widget_calendar tfoot a {
  text-transform: none;
}
