/**
 * Change Main Color
 */
:root {
  --base-aa: initial;
  --black-color: #454545;
  --topbar-height: 48px;
  --nav-text: 11px;
  --nav-items-space: 21px;
  --nav-drop-color: #535353;
  --share-icons-size: 13px;
  --section-head-size: 12px;
  --section-head-ls: 0.04em;
  --post-title-size: 25px;
  --grid-post-title: 23px;
  --list-post-title: 23px;
  --list-post-title-b: 24px;
  --overlay-post-title: 22px;
  --carousel-post-title: 17px;
  --feat-grid-title-l: 31px;
  --feat-grid-title-m: 24px;
  --single-content-size: var(--text-size);
  --post-content-lh: 2;
  --p-media-margin: 33px;
  --w-posts-title-large: 16px;
  --blockquote-font: "Merriweather", Georgia, serif;
}

:root {
  --main-color: #318892;
  --main-color-rgb: 49, 136, 146;
  --text-tracking: -0.025em;
  --body-font: "Merriweather", Georgia, serif;
  --ui-font: Poppins, Arial, sans-serif;
  --text-font: var(--body-font);
  --related-posts-title: 14px;
  --blockquote-font: var(--text-font);
}

:root {
  --text-tracking: 0;
  --body-font: ff-meta-serif-web-pro, Georgia, serif;
  --ui-font: brandon-grotesque, sans-serif;
  --text-font: var(--body-font);
  --text-lh: 1.8;
  --text-size: 15px;
  --single-content-size: 16px;
  --excerpt-size: 16px;
  --post-content-lh: 1.8;
  --black-color: #535353;
  --text-color: #606060;
}

.editor-styles-wrapper blockquote,
.block-editor-block-list__layout blockquote {
  color: #555;
}

.editor-styles-wrapper h1, .editor-styles-wrapper h2, .editor-styles-wrapper h3, .editor-styles-wrapper h4, .editor-styles-wrapper h5, .editor-styles-wrapper h6,
.block-editor-block-list__layout h1,
.block-editor-block-list__layout h2,
.block-editor-block-list__layout h3,
.block-editor-block-list__layout h4,
.block-editor-block-list__layout h5,
.block-editor-block-list__layout h6 {
  text-transform: uppercase;
}

.editor-styles-wrapper blockquote,
.block-editor-block-list__layout blockquote {
  color: #7d7d7d;
}

.editor-styles-wrapper blockquote,
.block-editor-block-list__layout blockquote {
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
}

.editor-styles-wrapper blockquote cite,
.block-editor-block-list__layout blockquote cite {
  font-size: 13px;
}

.editor-styles-wrapper p,
.block-editor-block-list__layout p {
  font-size: inherit;
  line-height: inherit;
}

.main-pagination.number,
.widget_calendar tfoot a {
  text-transform: none;
}
