/**
 * Change Main Color
 */
:root {
  --base-aa: initial;
  --black-color: #454545;
  --topbar-height: 48px;
  --nav-text: 11px;
  --nav-items-space: 21px;
  --nav-drop-color: #535353;
  --share-icons-size: 13px;
  --section-head-size: 12px;
  --section-head-ls: 0.04em;
  --post-title-size: 25px;
  --grid-post-title: 23px;
  --list-post-title: 23px;
  --list-post-title-b: 24px;
  --overlay-post-title: 22px;
  --carousel-post-title: 17px;
  --feat-grid-title-l: 31px;
  --feat-grid-title-m: 24px;
  --single-content-size: var(--text-size);
  --post-content-lh: 2;
  --p-media-margin: 33px;
  --w-posts-title-large: 16px;
  --blockquote-font: "Merriweather", Georgia, serif;
}

:root {
  --body-font: Lora, Georgia, serif;
  --ui-font: Lato, Arial, sans-serif;
  --title-font: TexGyreAdventor, Futura, Arial, sans-serif;
  --text-h-font: var(--title-font);
  --blockquote-font: Lora, Georgia, serif;
  --post-content-lh: 1.857;
  --single-title-size: 25px;
  --large-post-title: 23px;
  --grid-post-title: 20px;
  --related-posts-title: 15px;
  --nav-color: #535353;
  --nav-text-ls: 0.1em;
  --nav-text-weight: 900;
  --nav-drop-text: 11px;
  --nav-drop-ls: 0.07em;
  --main-color: #cea525;
  --main-color-rgb: 206, 165, 37;
  --text-color: #535353;
  --black-color: #535353;
}

.editor-styles-wrapper,
.block-editor-block-list__layout {
  -webkit-font-smoothing: initial;
}

.editor-styles-wrapper blockquote,
.block-editor-block-list__layout blockquote {
  color: #555;
}

.editor-styles-wrapper p,
.block-editor-block-list__layout p {
  font-size: inherit;
  line-height: inherit;
}

.main-pagination.number,
.widget_calendar tfoot a {
  text-transform: none;
}
