/**
 * Change Main Color
 */
:root {
  --base-aa: initial;
  --black-color: #454545;
  --topbar-height: 48px;
  --nav-text: 11px;
  --nav-items-space: 21px;
  --nav-drop-color: #535353;
  --share-icons-size: 13px;
  --section-head-size: 12px;
  --section-head-ls: 0.04em;
  --post-title-size: 25px;
  --grid-post-title: 23px;
  --list-post-title: 23px;
  --list-post-title-b: 24px;
  --overlay-post-title: 22px;
  --carousel-post-title: 17px;
  --feat-grid-title-l: 31px;
  --feat-grid-title-m: 24px;
  --single-content-size: var(--text-size);
  --post-content-lh: 2;
  --p-media-margin: 33px;
  --w-posts-title-large: 16px;
  --blockquote-font: "Merriweather", Georgia, serif;
}

:root {
  --body-font: Source Sans Pro, Arial, sans-serif;
  --title-font: Playfair Display, Didot, Garamond, serif;
  --alt-font: Noto Sans, Arial, sans-serif;
  --text-h-font: var(--title-font);
  --excerpt-size: 15px;
  --single-content-size: 16px;
  --post-content-lh: 1.857;
  --single-title-size: 26px;
  --large-post-title: 26px;
  --related-posts-title: 16px;
  --nav-color: #111;
  --nav-text-ls: 0.18em;
  --nav-text: 12px;
  --nav-text-weight: 400;
  --nav-blip-color: #d8d8d8;
  --nav-items-space: 25px;
  --nav-drop-text: 10px;
  --nav-drop-ls: 0.16em;
  --nav-drop-blip-color: var(--nav-blip-color);
  --blockquote-font: Lora, Georgia, serif;
  --main-color: #f1868a;
  --main-color-rgb: 241, 134, 138;
  --text-color: #666;
  --black-color: #666;
  --tags-color: #454545;
  --share-icons-color: #454545;
}

.editor-styles-wrapper,
.block-editor-block-list__layout {
  -webkit-font-smoothing: initial;
  -webkit-font-smoothing: antialiased;
}

.editor-styles-wrapper blockquote,
.block-editor-block-list__layout blockquote {
  color: #555;
}

.editor-styles-wrapper blockquote,
.block-editor-block-list__layout blockquote {
  font-size: 17px;
  color: #989898;
}

.editor-styles-wrapper h1, .editor-styles-wrapper h2, .editor-styles-wrapper h3, .editor-styles-wrapper h4, .editor-styles-wrapper h5, .editor-styles-wrapper h6,
.block-editor-block-list__layout h1,
.block-editor-block-list__layout h2,
.block-editor-block-list__layout h3,
.block-editor-block-list__layout h4,
.block-editor-block-list__layout h5,
.block-editor-block-list__layout h6 {
  font-weight: 400;
  color: #161616;
}

.editor-styles-wrapper p,
.block-editor-block-list__layout p {
  font-size: inherit;
  line-height: inherit;
}

.main-pagination.number,
.widget_calendar tfoot a {
  text-transform: none;
}
