/**
 * Change Main Color
 */
:root {
  --base-aa: initial;
  --black-color: #454545;
  --topbar-height: 48px;
  --nav-text: 11px;
  --nav-items-space: 21px;
  --nav-drop-color: #535353;
  --share-icons-size: 13px;
  --section-head-size: 12px;
  --section-head-ls: 0.04em;
  --post-title-size: 25px;
  --grid-post-title: 23px;
  --list-post-title: 23px;
  --list-post-title-b: 24px;
  --overlay-post-title: 22px;
  --carousel-post-title: 17px;
  --feat-grid-title-l: 31px;
  --feat-grid-title-m: 24px;
  --single-content-size: var(--text-size);
  --post-content-lh: 2;
  --p-media-margin: 33px;
  --w-posts-title-large: 16px;
  --blockquote-font: "Merriweather", Georgia, serif;
}

:root {
  --body-font: IBM Plex, Arial, sans-serif;
  --title-font: Cormorant, Didot, serif;
  --alt-font: Cormorant, Didot, serif;
  --text-h-font: var(--title-font);
  --single-content-size: 15px;
  --text-lh: 1.7;
  --post-content-lh: 1.7;
  --related-posts-title: 15px;
  --related-posts-2-title: 16px;
  --title-size-xs: 16px;
  --title-size-s: 17px;
  --tille-size-n: 18px;
  --title-size-m: 20px;
  --title-size-l: 26px;
  --title-size-xl: 30px;
  --grid-post-title: 30px;
  --list-post-title: 27px;
  --large-post-title: 36px;
  --single-title-size: 38px;
  --topbar-dark-bg: #000;
  --nav-text-ls: 0.15em;
  --nav-text: 12px;
  --nav-text-weight: 500;
  --nav-drop-ls: 0.13em;
  --blockquote-font: Cormorant, Didot, serif;
  --main-color: #a18858;
  --main-color-rgb: 161, 136, 88;
  --text-color: #505050;
  --black-color: #505050;
  --tags-color: #454545;
  --share-icons-color: #161616;
}

.editor-styles-wrapper,
.block-editor-block-list__layout {
  -webkit-font-smoothing: initial;
  -webkit-font-smoothing: antialiased;
}

.editor-styles-wrapper blockquote,
.block-editor-block-list__layout blockquote {
  color: #555;
}

.editor-styles-wrapper h1,
.block-editor-block-list__layout h1 {
  font-size: 29px;
}

.editor-styles-wrapper h2,
.block-editor-block-list__layout h2 {
  font-size: 26px;
}

.editor-styles-wrapper h3,
.block-editor-block-list__layout h3 {
  font-size: 22px;
}

@media (min-width: 1201px), (-mqpacker: on) {
  .editor-styles-wrapper .modern-quote,
  .editor-styles-wrapper .wp-block-quote.is-style-large,
  .block-editor-block-list__layout .modern-quote,
  .block-editor-block-list__layout .wp-block-quote.is-style-large {
    font-size: 32px;
  }
}

.editor-styles-wrapper blockquote,
.block-editor-block-list__layout blockquote {
  font-size: 21px;
  color: #989898;
  -webkit-font-smoothing: antialiased;
}

.editor-styles-wrapper h1, .editor-styles-wrapper h2, .editor-styles-wrapper h3, .editor-styles-wrapper h4, .editor-styles-wrapper h5, .editor-styles-wrapper h6,
.block-editor-block-list__layout h1,
.block-editor-block-list__layout h2,
.block-editor-block-list__layout h3,
.block-editor-block-list__layout h4,
.block-editor-block-list__layout h5,
.block-editor-block-list__layout h6 {
  font-weight: 700;
  color: #000;
  -webkit-font-smoothing: antialiased;
}

.editor-styles-wrapper p,
.block-editor-block-list__layout p {
  font-size: inherit;
  line-height: inherit;
}

.main-pagination.number,
.widget_calendar tfoot a {
  text-transform: none;
}
